<template>
  <q-page class="flex row q-py-xl ">
    <div class="col-md-1"></div>
    <div class="col">
      <q-list class="q-py-md bg-grey-2">
        <q-item class="q-ma-md bg-white q-gutter-md" v-for="(p,i) in products" :key="i">
          <q-item-section @click="$router.push('/product')" class="wt-m-pointer image" avatar>
            <q-img src="~assets/ph1.jpg" width="10vw"></q-img>
          </q-item-section>
          <q-separator vertical />
          <q-item-section @click="$router.push('/product')"  class="wt-m-pointer description">
            <div>{{p.name}}</div>
            <div>{{p.description}}</div>
          </q-item-section>
          <q-separator vertical />
          <q-item-section class=" count" thumbnail>
            <div>{{p.count}}</div>
          </q-item-section>
          <q-separator vertical />
          <q-item-section class=" manage" side>
            <q-btn :label="$t('delete')" color="negative" />
          </q-item-section>
        </q-item>
      </q-list>
    </div>
    <div class="col-md-1"></div>
    <div class="bg-white full-width fixed-bottom" >
      <q-toolbar class="row q-gutter-md" style="height: 8vh">
        <div class="col-md-1"></div>
        <q-btn padding="md lg" icon="fal fa-cash-register" class="col-2" color="primary" :label="$t('checkout')" />
        <div class="col-shrink final-price text-primary text-bold text-h4">${{totalPrice}}</div>
        <div class="col-shrink total-price-before-descount text-bold text-h6 text-grey text-strike">${{totalPriceBefore}}</div>
        <div class="col-shrink total-price-before-descount text-h6 text-grey">{{cartCount}} {{$t('items')}}</div>
        <q-space/>
      </q-toolbar>
    </div>
  </q-page>
</template>

<script>
import meta from '../../mixins/meta'

export default {
  name: 'PageIndex',
  mixins: [meta],
  data () {
    return {
      totalPriceBefore: 350.0,
      totalPrice: 300.0,
      cartCount: 50,
      products: [
        { name: 'some product name', description: 'product description', price: 30.00, count: 10 },
        { name: 'some product name', description: 'product description', price: 30.00, count: 10 },
        { name: 'some product name', description: 'product description', price: 30.00, count: 10 },
        { name: 'some product name', description: 'product description', price: 30.00, count: 10 }
      ]
    }
  }

}
</script>
