<template>
  <q-page class="flex flex-center">
    valiosa checkout
  </q-page>
</template>

<script>
import meta from '../../mixins/meta'
export default {
  name: 'PageIndex',
  mixins: [meta]

}
</script>
