<template>
  <q-page class="flex row q-py-xl ">
    <div class="col-md-1"></div>
    <div class="col ">
      <div class="row full-height">
        <q-list class="col-2 q-px-md">
          <q-item v-for="(i,x) in items" :key="x" clickable active-class="text-primary bg-grey-2" @click="active = i.name" :active="active == i.name">
            <q-item-section class="text-capitalize text-bold">
              {{i.name}}
            </q-item-section>
          </q-item>
        </q-list>
        <q-separator vertical />
        <div class="col q-px-md">
        <div class="row" v-if="active == $t('account')">
          <q-form class="col">
            <div class="text-primary text-capitalize text-bold text-h5">{{$t('paymnets_options')}}</div>
            <div class="text-primary bg-primary"><q-separator /></div>
            <q-input :label="$t('username')" />
            <q-input :label="$t('password')"  />
            <q-input :label="$t('phone_number')"  />
            <q-input :label="$t('email')"  />
            <q-input :label="$t('gender')"  />
          </q-form>
          <div class="col-8"></div>
        </div>
        <div class="column" v-else-if="active == $t('payments')">
          <div class="col">
            <div class="text-primary text-capitalize text-bold text-h5">{{$t('paymnets_options')}}</div>
            <div class="text-primary bg-primary"><q-separator /></div>
            <div class="text-primary ">{{$t('defualt_payment_option')}}</div>
            <div class="row q-gutter-md">
              <div class="col text-center q-pa-md text-white bg-primary wt-m-pointer">paypal</div>
              <div class="col text-center q-pa-md text-white bg-primary wt-m-pointer">benkak</div>
              <div class="col text-center q-pa-md text-white bg-primary wt-m-pointer">credit_card</div>
              <div class="col text-center q-pa-md text-white bg-primary wt-m-pointer">others</div>
              <div class="col"></div>
            </div>
          </div>
          <div class="col">
            <div class="text-primary text-capitalize text-bold text-h5">{{$t('payments_history')}}</div>
            <div class="text-primary bg-primary"><q-separator /></div>
            <q-table>
            </q-table>
          </div>
        </div>
        <div class="row" v-else-if="active == $t('orders')">
          <div>
            <q-tabs class="text-primary" v-model="orderTab">
              <q-tab name="all" :label="$t('all')"></q-tab>
              <q-tab :name="ot.name"  :label="ot.label" v-for="(ot,i) in orderTabs" :key="i"></q-tab>
            </q-tabs>
            <q-separator class="text-primary bg-primary" />
            <q-tab-panels v-model="orderTab">
              <q-tab-panel name="all" >
                <div class="col">
                  <div class="row text-primary" v-for="(i,x) in orderList" :key="x">
                    <div class="col ">{{i.productNames}}</div>
                    <div class="col ">{{i.totalPrice}}</div>
                    <div class="col ">{{i.status}}</div>
                    <div class="col ">{{i.shippingAddress}}</div>
                  </div>
                </div>
              </q-tab-panel>
              <q-tab-panel :name="ot.name" v-for="(ot,i) in orderTabs" :key="i">
                <div class="col">
                  <div class="row" v-for="(i,x) in orderList" :key="x">
                    <div class="row" v-if="i.status === ot.name">
                      <div class="col ">{{i.productNames}}</div>
                      <div class="col ">{{i.totalPrice}}</div>
                      <div class="col ">{{i.status}}</div>
                      <div class="col ">{{i.shippingAddress}}</div>
                    </div>
                  </div>
                </div>
              </q-tab-panel>
            </q-tab-panels>
          </div>
        </div>
        <div class="row" v-else-if="active == $t('shipping_addresses')">
          <div class="col">
          <q-btn color="primary" class="row" :label="$t('new_address')" @click="addNewShippingAddress()"/>
          <q-list  class="col">
            <q-item  @click="setDefaultAddress(ad.id)" class="row" v-for="(ad,x) in addresses" :key="x" clickable>
              <div class="col">
                  {{ad.country}}/{{ad.state}}/{{ad.city}}
              </div>
              <div class="col">
                {{ad.streat}}/{{ad.building}}/{{ad.apartment}}
              </div>
              <div class="col">
                {{ad.phonenumber}}/{{ad.name}}
              </div>
             <div class="text-green col" v-if="ad.default == true">
                 <q-icon color="text-green" name="fas fa-check" />
                 <div class="">{{$t('default_address')}}</div>
              </div>
              <div class="col" v-else>
                <q-btn color="negative" :label="$t('delete')" icon="fal fa-trash" />
                <q-btn  :label="$t('edit')" icon="fal fa-edit" />
              </div>
            </q-item>
          </q-list>
          </div>
        </div>
        <div class="row" v-else-if="active == $t('messages')">
          <div class="col">
            <q-tabs class="text-primary" v-model="msgsTab">
              <q-tab name="notifications" :label="$t('notifications')"></q-tab>
              <q-tab name="messages" :label="$t('messages')"></q-tab>
            </q-tabs>
            <q-separator class="text-primary bg-primary" />
            <q-tab-panels v-model="msgsTab">
              <q-tab-panel name="notifications" >
                <div class="col">
                  <div class="row text-primary" v-for="(i,x) in orderList" :key="x">
                    <div class="col ">{{i.productNames}}</div>
                    <div class="col ">{{i.totalPrice}}</div>
                    <div class="col ">{{i.status}}</div>
                    <div class="col ">{{i.shippingAddress}}</div>
                  </div>
                </div>
              </q-tab-panel>
              <q-tab-panel name="messages" >
                <div class="col">
                  <div class="row text-primary" v-for="(i,x) in orderList" :key="x">
                    <div class="col ">{{i.productNames}}</div>
                    <div class="col ">{{i.totalPrice}}</div>
                    <div class="col ">{{i.status}}</div>
                    <div class="col ">{{i.shippingAddress}}</div>
                  </div>
                </div>
              </q-tab-panel>
            </q-tab-panels>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </q-page>
</template>

<script>
import meta from '../../mixins/meta'
export default {
  name: 'PageIndex',
  mixins: [meta],
  computed: {

  },
  methods: {
    setDefaultAddress (id) {
      for (let i = 0; i < this.addresses.length; i++) {
        if (this.addresses[i].id === id) {
          this.addresses[i].default = true
        } else {
          this.addresses[i].default = false
        }
      }
    }
  },
  data () {
    const self = this
    return {
      msgsTab: 'msgs',
      defaultAddressId: '1',
      addresses: [
        { id: '1', country: 'sudan', state: 'khertoum', city: 'baheri', streat: 'some streat', building: '4443', apartment: '2131', phonenumber: '1212321312', name: 'suliman', default: false },
        { id: '2', country: 'sudan', state: 'khertoum', city: 'baheri', streat: 'some streat', building: '4443', apartment: '2131', phonenumber: '1212321312', name: 'suliman', default: false },
        { id: '3', country: 'sudan', state: 'khertoum', city: 'baheri', streat: 'some streat', building: '4443', apartment: '2131', phonenumber: '1212321312', name: 'suliman', default: true },
        { id: '4', country: 'sudan', state: 'khertoum', city: 'baheri', streat: 'some streat', building: '4443', apartment: '2131', phonenumber: '1212321312', name: 'suliman', default: false },
        { id: '5', country: 'sudan', state: 'khertoum', city: 'baheri', streat: 'some streat', building: '4443', apartment: '2131', phonenumber: '1212321312', name: 'suliman', default: false },
        { id: '6', country: 'sudan', state: 'khertoum', city: 'baheri', streat: 'some streat', building: '4443', apartment: '2131', phonenumber: '1212321312', name: 'suliman', default: false }
      ],
      orderTab: '',
      orderTabs: [
        { name: 'payed', label: self.$t('payed'), icon: 'fal fa-user' },
        { name: 'shipped', label: self.$t('shipped'), icon: 'fal fa-user' },
        { name: 'in_transit', label: self.$t('in_transit'), icon: 'fal fa-user' },
        { name: 'delivered', label: self.$t('delivered'), icon: 'fal fa-user' }
      ],
      orderList: [
        { productNames: ['product 1', 'product 2', 'product 3', 'product 4'], totalPrice: 4000, shippingAddress: 'some where', status: 'payed' },
        { productNames: ['product 1', 'product 2', 'product 3', 'product 4'], totalPrice: 4000, shippingAddress: 'some where', status: 'shipped' },
        { productNames: ['product 1', 'product 2', 'product 3', 'product 4'], totalPrice: 4000, shippingAddress: 'some where', status: 'in_transit' },
        { productNames: ['product 1', 'product 2', 'product 3', 'product 4'], totalPrice: 4000, shippingAddress: 'some where', status: 'delivered' },
        { productNames: ['product 1', 'product 2', 'product 3', 'product 4'], totalPrice: 4000, shippingAddress: 'some where', status: 'payed' },
        { productNames: ['product 1', 'product 2', 'product 3', 'product 4'], totalPrice: 4000, shippingAddress: 'some where', status: 'shipped' },
        { productNames: ['product 1', 'product 2', 'product 3', 'product 4'], totalPrice: 4000, shippingAddress: 'some where', status: 'in_transit' },
        { productNames: ['product 1', 'product 2', 'product 3', 'product 4'], totalPrice: 4000, shippingAddress: 'some where', status: 'delivered' },
        { productNames: ['product 1', 'product 2', 'product 3', 'product 4'], totalPrice: 4000, shippingAddress: 'some where', status: 'payed' }
      ],
      active: self.$t('account'),
      items: [
        { name: self.$t('account') },
        { name: self.$t('payments') },
        { name: self.$t('orders') },
        { name: self.$t('shipping_addresses') },
        { name: self.$t('messages') }
      ]
    }
  }

}
</script>
