<template>
  <div class="x text-center">
        <div class="row q-py-lg full-width text-capitalize text-center text-bold">
          <div class="col"></div>
          <div class="col text-bold">{{$t('get_app')}}</div>
          <div class="col"></div>
        </div>
        <!--div class="column full-height"-->
        <div class="row ofs q-gutter-md">
          <div class="col ofs">
            <button class="appstore rounded-borders no-outline no-border">
              <q-tooltip content-class="bg-black text-capitalize" class="bg-black text-capitalize" >{{$t('soon')}}</q-tooltip>
            </button>
          </div>
          <div class="col ofs">
            <button class="googleplay rounded-borders no-outline no-border">
              <q-tooltip content-class="bg-black text-capitalize" class="bg-black text-capitalize" >{{$t('soon')}}</q-tooltip>
            </button>
          </div>
        </div>

        <!--/div-->
    </div>
</template>
<script>

export default {
  name: 'wt-nav-bar',
  props: {

  },
  mounted () {
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
<style lang="scss" >
.ofs {
  overflow: display;
}
button{
  border: none;
}
.appstore{
  background-image: url('~assets/download_on_app_store.png');
}
.googleplay{
  background-image: url('~assets/download_on_google_play.png');
}
.appstore, .googleplay {
    width: 143px;
    height: 35px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-color: transparent;
}
</style>
