<template>
  <div v-if="$isLoggedIn()">
    <div v-if="$isAdminLoggedIn()">
      <slot name="loggedInAdmin"></slot>
    </div>
  </div>
  <div v-else>
    <div
      class="row q-gutter-md"
      v-if="oneBtn"
    >
      <q-btn
        :label="`${$t('login')} / ${$t('signup')}`"
        to="/user/login"
        class="outline"
        color="primary"
      ></q-btn>
    </div>
    <div
      class="row q-gutter-md q-px-md"
      v-else
    >
      <q-btn
        :label="$t('login')"
        to="/user/login"
        class="outline col"
        color="primary"
      ></q-btn>
      <q-btn
        :label="$t('signup')"
        to="/user/signup"
        color="primary col"
      ></q-btn>
    </div>
  </div>
</template>
<script>
export default {
  name: 'wt-auth-btn-group',
  props: {
    oneBtn: {
      type: Boolean,
      default: false
    }

  },
  data () {
    return {
    }
  },
  mounted () {
    // check wether authed or not
  },
  methods: {
    goBack () {
      this.$router.go(-1)
    }
  },
  components: {

  }
}
</script>
<style >
</style>
