<template>
  <q-header bordered >
    <div id="upper"  :class="[$mq == 'sm'? 'q-px-none ' : '', `q-py-sm bg-white`]" >
      <q-toolbar :class="[`wt-header-${size}d`,'row']">
        <div v-if="$mq !== 'sm'" class="col-md-1"></div>
        <q-toolbar-title :class="['col overflow-v',$mq == 'sm'? 'q-ma-none':'']">
          <portal-target name="header-logo">
          </portal-target>
        </q-toolbar-title>
        <div v-if="electron" class="col text-primary text-capitalize text-bold text-h6">{{$t('content_managment_systems')}}</div>
        <div v-if="$mq !== 'sm'" class="col"></div>
        <div v-if="$mq !== 'sm'" class="col"></div>
        <div v-if="$mq !== 'sm'" class="col"></div>
        <wt-local-changer class="col-shrink text-primary" />
        <div v-if="$mq !== 'sm'" class="col-md-1"></div>
      </q-toolbar>
    </div>
    <div id="downer">
    </div>
  </q-header>
</template>
<script>
import routeHelpers from '../mixins/routeHelpers'
import WTLocalChanger from './WTLocalChanger.vue'
// import WTNavList from './WTNavList.vue'

export default {
  name: 'wt-nav-bar',
  mixins: [routeHelpers],
  props: {
    ...routeHelpers.props,
    size: {
      type: String
    },
    auth: {
      type: Boolean,
      default: false
    },
    logoUrl: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default () {
        return [
        ]
      }
    }
  },
  mounted () {
    //  console.log(`has1 ${this.hasRoutes}, hasNot1 ${this.hasNotRoutes}`)
  },
  data () {
    return {
      admin: false,
      showMobileNav: false,
      electron: process.env.mode === 'electron'
    }
  },
  methods: {

  },
  components: {
    // 'wt-nav-list': WTNavList,
    'wt-local-changer': WTLocalChanger
  }
}
</script>
<style lang="sass" >
$mqSM: true
.app-nav .q-tab__label
  font-size: 11px !important

.border
  border-top: 1px solid #003116

.wt-header-xs
  @if $mqSM == true
    min-height: 10px !important
  @else
    min-height: 25px !important

.wt-header-sm
  @if $mqSM == true
    min-height: 20px !important
  @else
    min-height: 50px !important

.wt-header-md
  @if $mqSM == true
    min-height: 30px !important
  @else
    min-height: 70px !important

.wt-header-lg
  @if $mqSM == true
    min-height: 70px !important
  @else
    min-height: 100px !important

.wt-header-xl
  @if $mqSM == true
    min-height: 100px !important
  @else
    min-height: 150px !important
</style>
