<template>
  <div @mouseleave="mouseOver()" class="above" >
    <q-toolbar class="bg-primary text-center row">
      <div class="col-md-1"></div>
      <q-tabs align="left" v-model="tab" class="col dq-px-xl" outside-arrows>
        <q-tab name="all" label="all category" @mouseover="doModel('all')"></q-tab>
        <q-tab  v-for="(c,i) in categories" :key="i" :name="c.name" :label="c.name" @mouseover="doModel(c.name)">
        </q-tab>
      </q-tabs>
      <div class="col-md-1"></div>
    </q-toolbar>
    <div v-if="showbg" class="absolute full-width full-height col" >
      <q-tab-panels v-model="tab" class="row" >
        <q-tab-panel name="all" >
        </q-tab-panel>
        <q-tab-panel v-for="(c,i) in categories" :key="i" :name="c.name" :label="c.name" >
          <div class="row q-gutter-xl">
            <div class="col-shrink">
              <div class="text-h6 text-primary text-bold text-capitalize">{{$t('subcategories')}}</div>
              <q-list>
                <q-item dense v-for='(sc,i) in c.subcats' :key="i" class="text-grey" clickable to="/categories?catId=">
                  {{sc.name}}
                </q-item>
              </q-list>
            </div>
            <div  class="col">
              <wt-grid cellCalss="q-ma-xs wt-m-pointer" :placeholder="true" class=" brands" :itemsCount="9" :columns="3" style="height:50vh" >
                <template v-for="(b,x) in c.brands"  v-slot:[`item_${x}`]>
                  <q-img  class="full-height" :src="'~assets/ph1.jpg'" :key="`grid_item_${x}`" :ratio="16/9" />
                </template>
              </wt-grid>
            </div>
            <div class="col images">
              <q-img class="wt-m-pointer row position-relative" src="~assets/ph1.jpg" :ratio="16/9" />
            </div>
          </div>
        </q-tab-panel>
      </q-tab-panels>
      <div v-if="showbg" @mouseover="mouseOver()" class="row bg-black sbg">
      </div>
    </div>
  </div>
</template>
<style lang="sass">

.hero
    position: relative
    height: 100vh
    width: 100%

.hero::before
  content: ""
  position: absolute
  top: 0px
  right: 0px
  bottom: 0px
  left: 0px
  opacity: 0.75
  background-color: rgba(0,0,0,0.25)

.above
  z-index: 10 !important

.h50vh
  height: 50vh

.sbg
  z-index: 4 !important
  background: rgba(0, 0, 0,0.5 )  !important
  background-color: rgba(0, 0, 0,0.5 ) !important
  height: 100vh !important
  opacity: 0.5 !important

</style>
<script>
/* eslint-disable */
import WTGrid from './WTGrid.vue'
export default {
  name: "wt-categories-bar",
  props: {
  },
  components: {
    'wt-grid': WTGrid
  },
  mounted () {
    // console.log(`this.$i18n.locale : ${this.$i18n.locale}`);
    // this.setLocal(this.$loc)
  },
  methods: {
    doModel(val) {
      this.tab = val
      document.documentElement.style.overflow = 'hidden'
      this.showbg = true
    },
    mouseOver(){
      this.tab = ''
      document.documentElement.style.overflow = 'auto'
      this.showbg = false
    }
    /* doChangeLocal (l) {
      console.log(`changeing locals ${l} ${this.lang}`)
      this.lang = l
      console.log(`after locals ${l} ${this.lang}`)
    }, */

  },
  data () {
    const self = this
    return {
      showbg: true,
      tab:'',
      /**
       * fashion
    men 

    women

    children

    others

health & beiuty
    body care 

    makeup

    perfuime 

    others

home 
    kitchen 

    bedroom

    bathroom

    others

electronic
    mobiles

    computers

    home appliances 

    others

industrial & tools
    carpentery

    building tools

    home improvments 

    others
       */
      categories: [ 
        {id: '1', 
        name: self.$t('fashion'), brands:[
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          ],
           subcats:[
             { name:self.$t('men')},
           { name:self.$t('women')}
           ,{ name:self.$t('children')}
           ,{ name:self.$t('others')}
           ]
           },
        {id: '2', name:self.$t('health_&_beauty'), brands:[
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'}],
          subcats:[
            { name:self.$t('body_care')},
            { name:self.$t('makeup')},
            { name:self.$t('perfume')},
            { name:self.$t('others')}
          ]},
        {id: '3', name:self.$t('home'), brands:[
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'}],
          subcats:[
            { name:self.$t('kitchen')},
            { name:self.$t('bedroom')},
            { name:self.$t('bathroom')},
            { name:self.$t('others')}
            ]
            },
        {id: '4', name:self.$t('electronics'), brands:[
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},]
          ,subcats:[
            { name:self.$t('mobiles')},
          { name:self.$t('computers')},
          { name:self.$t('home_appliances')},
          { name:self.$t('others')}]},
        {id: '5', name:self.$t('industrial_&_tools'), brands:[
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},],
          subcats:[
            { name:self.$t('carpentry')},
            { name:self.$t('building_tools')},
            { name:self.$t('home_improvement')},
            { name:self.$t('others')}]},
      ]
    }
  }
}
</script>
