<template>
  <div class="">
    <q-parallax
      v-if="paralax"
      :src="imgSrc"
    >
      <template v-slot:content="scope">
        <q-btn
          label="contactus0"
          to="/contact"
        ></q-btn>
      </template>
    </q-parallax>
    <q-img
      v-else
      :src="imgSrc"
      height="50vh"
    >
      <div class="absolute-full text-subtitle2 flex flex-center">
        <q-btn
          :label="$t('contact_us')"
          to="/contact"
          v-bind="btnProps"
        ></q-btn>
      </div>
    </q-img>
  </div>
</template>
<script>

export default {
  name: 'wt-contactus-section',
  computed: {
  },
  props: {
    btnProps: {
      type: Object,
      default () {
        return {
          outline: true,
          class: 'text-amber',
          padding: 'md'
        }
      }
    },
    imgSrc: {
      type: String,
      default: 'https://cdn.quasar.dev/img/parallax2.jpg'
    },
    paralax: {
      type: Boolean,
      default: false
    },
    img: {
      type: Boolean,
      default: true
    }
  },
  watch: {
    paralax (newVal) {
      this.img = !newVal
    },
    img (newVal) {
      this.paralax = !newVal
    }
    /* $props: {
      immediate: true,
      handler () {
        this.validateProps()
      }
    } */
  },
  data () {
    return {

    }
  },
  methods: {
    validateProps () {
      if (this.img != this.paralax) {
        console.error('Invalid props')
      }
    }
  },
  components: {

  }
}
</script>
<style >
</style>
