<template >
  <q-page>
    <slot name="header">
      <wt-static-header></wt-static-header>
    </slot>
    <slot name="first">
    </slot>
    <slot name="second">
    </slot>
  </q-page>
</template>
<style lang="scss" scoped>
</style>
<script>

import meta from '../mixins/meta'
export default {
  name: 'wt-contact-us-page',
  mixins: [meta],
  props: {

  },
  data () {
    return {
    }
  },
  methods: {

  }
}
</script>
