<template >
  <q-footer :class="[$mq === 'sm' ? 'shadow-up-1 bg-white':'q-pa-md bg-primary']"  style="z-index: 2 !important" >
    <div v-if="$mq === 'sm'">
      <transition
        appear
        name="slide"
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
      <div key="search" class="row q-pa-md" v-if="$route.query.search">
        <wt-search-field outlined class="col" :label="$t('what_you_are')" :btn="false"/>
      </div>
      </transition>
      <q-tabs
        dense
        shrink
        class="row bg-white text-primary"
        indicator-color="transparent"
        v-if="$route.path !=='/product'"
      >
        <q-route-tab
          v-for="link in computed_links"
          :key="link.path"
          :label="link.text"
          :icon="determinIcon(link)"
          :to="link.path"
          class="col text-capitalize"
          style="font-size: 30px !important"
        />
      </q-tabs>
    </div>
    <div v-else>
    <div
      :class="[$mq != 'sm' ? 'row q-pa-md items-start  ':'column q-pa-sm q-gutter-sm']"
      v-if="!onlyCopyrights"
    >
      <div class="col-md-1"></div>
      <div class="col-shrink q-pt-lg q-mr-xl justify-center text-center item-start self-start wt-m-pointer">
        <portal-target class="row self-center justify-center text-center item-center" name="footer-logo">
          <slot name="footer-logo">
          </slot>
        </portal-target>
        <div class="row q-mt-md self-center justify-center text-center item-center">
          <div class=" text-h5 text-bold text-capitalize">{{$t('valiosa_for_trade')}}</div>
        </div>
        <div class="row text-center q-mt-md">
          <wt-app-download-btn />
        </div>
      </div>
      <div class="col-shrink" v-show="false"></div>
      <div class="col" v-show="false">
        <div class="row  q-mt-md self-center justify-center text-center item-center full-width full-height">
          <wt-app-download-btn />
        </div>
      </div>
      <div class="col-shrink"></div>

      <div class="col pages self-start">
        <!-- home, aboutus, privacy policy , tersms of service, contactus, sitemap-->
        <slot name="items-links">
          <wt-nav-list
            vertical
            :items="items"
            title
            :linksTitle="$t('pages')"
            tag="a"
            itemClass="text-capitalize"
            :activeClass="activeClass"
            v-bind="$attrs"
          />
        </slot>
      </div>
      <div class="col-shrink"></div>

      <div class="col categories self-start">
        <!-- home, aboutus, privacy policy , tersms of service, contactus, sitemap-->
        <slot name="items-links">
          <wt-nav-list
            vertical
            :items="categories"
            title
            :linksTitle="$t('categories')"
            tag="a"
            itemClass="text-capitalize"
            :activeClass="activeClass"
            v-bind="$attrs"
          />
        </slot>
      </div>
      <div class="col-shrink"></div>
      <div class="col self-start">
        <!-- about valiosa short summary , links of social media ,  download apps links-->
        <div class="column q-gutter-md">
          <div class="col">
            <div class="row text-h5 text-bold q-py-md text-capitalize">{{$t('about')}}</div>
            <div class="row text-capitalize">{{$t('footr_about')}}</div>
          </div>
          <div class="col">
            <div class="row text-h5 text-bold q-py-md text-capitalize">{{$t('address')}}</div>
            <div class="row text-capitalizes">{{$t('footer_address')}}</div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <div class="row text-h5 text-capitalize text-bold q-pb-md">{{$t('social_links')}}</div>
                <wt-social-links :links="links" round dense borderless flat unelevated />
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <q-separator color="q-my-md" />
      <div class="row text-center">
        <slot name="bottom text-h9">
          <div class="col">{{$t('copyrights')}}</div>
        </slot>
      </div>
    </div>
  </q-footer>
</template>

<style lang="scss" >
.slide-enter-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.slide-leave-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
   max-height: 100px;
   overflow: hidden;
}

.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}
.app-nav .q-tab__label {
  font-size: 8px !important;
  text-transform: capitalize !important;
}
.border {
  border-top:$primary;
}

</style>

<script>
import WTNavList from './WTNavList.vue'
import WTSocialLinks from './WTSocialLinks.vue'
import WTSearchField from './WTSearchField'
import WTAppDownloadBtn from './WTAppDownloadBtn.vue'
export default {
  name: 'wt-footer',
  computed: {
    computed_links () {
      return this.appNavProps.links.filter(l => l.visible)
    }
  },
  props: {
    activeClass: {
      type: String,
      default: ''
    },
    onlyCopyrights: {
      type: Boolean,
      default: false
    },
    logoUrl: {
      type: String,
      default: ''
    },
    categories: {
      type: Array,
      default () {
        const self = this
        return [
          { visible: true, path: '/categories', text: self.$t('categories'), icon: 'person', active_icon: 'person' },
          { visible: true, path: '/categories', text: self.$t('categories'), icon: 'person', active_icon: 'person' },
          { visible: true, path: '/categories', text: self.$t('categories'), icon: 'person', active_icon: 'person' },
          { visible: true, path: '/categories', text: self.$t('categories'), icon: 'person', active_icon: 'person' },
          { visible: true, path: '/categories', text: self.$t('categories'), icon: 'person', active_icon: 'person' },
          { visible: true, path: '/categories', text: self.$t('categories'), icon: 'person', active_icon: 'person' },
          { visible: true, path: '/categories', text: self.$t('categories'), icon: 'person', active_icon: 'person' }
        ]
      }
    },
    items: {
      type: Array,
      default () {
        const self = this
        return [
          { visible: true, path: '/', text: self.$t('home'), icon: 'person', active_icon: 'person' },
          { visible: true, path: '/aboutus', text: self.$t('aboutus'), icon: 'person', active_icon: 'person' },
          { visible: true, path: '/contactus', text: self.$t('contactus'), icon: 'person', active_icon: 'person' },
          { visible: true, path: '/privacy', text: self.$t('privacy_policy'), icon: 'person', active_icon: 'person' },
          { visible: true, path: '/terms', text: self.$t('terms_of_service'), icon: 'person', active_icon: 'person' },
          { visible: true, path: '/sitemap', text: self.$t('site_map'), icon: 'person', active_icon: 'person' }
        ]
      }
    }
  },
  components: {
    'wt-nav-list': WTNavList,
    'wt-social-links': WTSocialLinks,
    'wt-search-field': WTSearchField,
    'wt-app-download-btn': WTAppDownloadBtn
  },
  data () {
    const self = this
    return {
      appNavProps: {
        icons: true,
        links: [
          { visible: true, path: '/', text: self.$t('home'), icon: 'fal fa-home', active_icon: 'fas fa-home' },
          { visible: true, path: '/categories', text: self.$t('categories'), icon: 'fal fa-tags', active_icon: 'fas fa-tags' },
          { visible: true, path: '/?search=x', text: self.$t('search'), icon: 'fal fa-search', active_icon: 'fas fa-search' },
          { visible: true, path: '/cart', text: self.$t('cart'), icon: 'fal fa-shopping-cart', active_icon: 'fas fa-shopping-cart' },
          { visible: true, path: '/profile', text: self.$t('profile'), icon: 'fal fa-user', active_icon: 'fas fa-user' }
        ]
      },
      links: [
        { id: 1, class: 'bg-primary text-white', name: 'facebook', link: 'https://www.facebook.com/technicprofessionalco', icon: 'fab fa-facebook-f' },
        { id: 4, class: 'bg-primary text-white', name: 'whatsapp', link: 'https://wa.me/+249122343445', icon: 'fab fa-whatsapp' },
        { id: 5, class: 'bg-primary text-white', name: 'email', link: 'mailto:info@technicprofessional.sd', icon: 'fas fa-envelope' },
        { id: 6, class: 'bg-primary text-white', name: 'phonenumber', link: 'tel:+249122343445', icon: 'fas fa-phone' }
      ]
    }
  },
  methods: {
    determinIcon (link) {
      let icon = ''
      if (this.$t('search') === link.text) {
        if (this.$route.query.search == 'x') {
          icon = link.active_icon
        } else {
          icon = link.icon
        }
      } else {
        if (this.$route.path === link.path && !this.$route.query.search) {
          icon = link.active_icon
        } else {
          icon = link.icon
        }
      }
      return icon
    }
  }
}
</script>
