<template>
  <div class="q-grid relative full-height" ref="main">
      <div
        class="grid-row row mag1"
        :style="`height: ${rowHeight/rows}px!important`"
        v-for="r in rows"
        :key="r"
      >
        <div
          class="grid-row-col col mag1 bg-white"
          v-for="c in columns"
          :key="c"
        >
          <div
            :class="['bg-black full-height',cellCalss]"
            v-if="placeholder"
          >
            <div
              class="text-center full-height text-h7 text-white"
              v-if="((r-1)*columns) + c  <= itemsCount "
            >Placeholder {{((r-1)*columns)+c}}</div>
          </div>
          <div
            v-else
            :class="['grid-cell text-center full-height',cellCalss]"
            :alter="((r-1)*columns) + c "
          >
            <slot
              v-if="((r-1)*columns) + c  <= itemsCount "
              :name="`item_${((r-1)*columns) + c }`"
            >
            </slot>
          </div>
        </div>
      </div>
  </div>
</template>
<style lang="sass" scoped>

.mag
  margin: 1pt !important
</style>
<script>
export default {
  name: 'wt-grid',
  props: {
    cellCalss: {
      type: String,
      default: ''
    },
    showLines: {
      type: Boolean,
      default: true
    },
    columns: {
      type: Number,
      default: 3
    },
    itemsCount: {
      type: Number,
      default: 7
    },
    placeholder: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    rows () {
      return Math.ceil(this.itemsCount / this.columns)
    }
  },
  components: {
  },
  mounted () {
    this.rowHeight = this.$refs.main.clientHeight
  },
  data () {
    return {
      rowHeight: 100,
      slide: 1
    }
  }
}
</script>
