<template>
  <q-card class="column q-pa-xs">
    <q-card-section class="col text-h6">
      {{ title }}
    </q-card-section>
    <q-card-section class="col">
      <wt-grid
        :showLines="showLines"
        :columns="columns"
        :itemsCount="items.length"
        :placeholder="placeholder"
      >
      <slot name="content">
        <template
          v-for="(j,e) in items"
          v-slot:[`item_${e+1}`]
        >
          <div
            :key="e"
            :class="`q-pa-sm pointer text-${j.iconColor}`"
            @click="goTo(j.clickPath)"
          >
            <q-icon
              :name="j.icon"
              :color="j.iconColor"
              size="25px"
            />
            <div class="text-capitalize text-truncate"> {{j.name}}</div>
          </div>
        </template></slot>
      </wt-grid>
    </q-card-section>
  </q-card>
</template>
<script>
import WTGrid from './WTGrid'
export default {
  name: 'wt-grid-card',
  computed: {
  },
  props: {
    showLines: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Grid Card'
    },
    columns: {
      type: Number,
      default: 4
    },
    placeholder: {
      type: Boolean,
      default: true
    },
    items: {
      type: Array,
      default () {
        return [
          { name: 'wt-grid-card', clickEventId: '' },
          { name: 'wt-grid-card', clickEventId: '' },
          { name: 'wt-grid-card', clickEventId: '' },
          { name: 'wt-grid-card', clickEventId: '' },
          { name: 'wt-grid-card', clickEventId: '' },
          { name: 'wt-grid-card', clickEventId: '' },
          { name: 'wt-grid-card', clickEventId: '' }
        ]
      }
    }
  },
  data () {
    return {

    }
  },
  methods: {
    goTo (to) {
      if (this.$route.path !== to) {
        this.$router.push(to)
      }
    }
  },
  components: {
    'wt-grid': WTGrid
  }
}
</script>
<style >
</style>
