<template>
  <div>
    <q-select
      v-if="mode === 'select'"
      :label="$t('language')"
      v-model="lang"
      :options="options"
      option-value="code"
      option-label="name"
      @input="setLocal"
    />
    <q-btn-dropdown
      v-else-if="mode === 'dropdown'"
      color="transperant"
      icon="fal fa-language"
      class="bg-transperant"
      :text-color="textColor"
      dense
      unelevated
      dropdown-icon=""
      round
    >
      <q-list>
        <q-item
          v-for="l in languegs"
          :key="l.code"
          clickable
          v-close-popup
          @click="setLocal(l.code)"
          :class="l.code === $i18n.locale ? 'text-primary bg-grey' : ''"
        >
          <q-item-section>
            <q-item-label class="text-capitalize">
              {{ $t(l.name) }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-btn-dropdown>
    <q-btn dense v-else-if="mode === 'toggle'" flat :label="$t(`${filterd}`)" @click="setLocal(filterd)">
    </q-btn>
  </div>
</template>

<script>
/* eslint-disable */

export default {
  name: "wt-local-changer",
  computed:{
    filterd (){
      var l 
      if(this.languegs[0].code == this.$i18n.locale){
        l = this.languegs[1].code
      } else {
        l = this.languegs[0].code   
      }
      return l
    }
  },
  props: {
    textColor: {
      type: String,
      default: 'white'
    },
    mode: {
      type: String,
      default: 'toggle' // select, dropdown, toggole
    },
    languegs: {
      type: Array,
      default () {
        return [
          { code: 'ar', name: 'arabic' },
          { code: 'en-us', name: 'english' },
        ]
      }
    }
  },
  components: {},
  mounted () {
    // console.log(`this.$i18n.locale : ${this.$i18n.locale}`);
    // this.setLocal(this.$loc)
  },
  created () {
    var l = ''
    console.log('create')
    if (this.$session.get('locale')) {
      l = this.$session.get('locale')
      console.log(`got session locale ${l}`)
    } else {
      l = 'en-us'
      console.log(`no session local defulting to ${l}`)
    }
    console.log(`l = ${JSON.stringify(l)}`)
    this.setLocal(l,true)
  },
  methods: {
    setLocal (lang, created = false) {
      console.log(`changing lang to: ${JSON.stringify(lang)}`)
      if (lang.code) {
        lang = lang.code
      }
      
      console.log(`lang: ${lang}, created:,${created}`)

      if(created){
        console.log(`created`)
        import(`quasar/lang/${lang}`).then(({ default: messages }) => {
        this.$q.lang.set(messages)
      })
      console.log(`not created`)
      this.$i18n.locale = lang
      import(`src/i18n/${lang}`).then(({ default: messages}) => {
        this.$i18n.locale = lang
        this.$i18n.setLocaleMessage(lang, messages)
      })
      console.log(`before this.$i18n.locale: ${this.$i18n.locale}`);
      if (this.$i18n.locale !== lang) {
        console.log(`setting session locale to ${lang}`)
        this.$i18n.locale = lang
        // this.$router.go()
      }
      console.log(`after this.$i18n.locale: ${this.$i18n.locale}`);
      console.log(`after this.$session.get('locale'): ${this.$session.get('locale')}`);
      } else {
        this.$session.set('locale', lang)
        this.$router.go()
      }
    }
  },
  data () {
    return {
    }
  }
}
</script>
