<template>
  <q-header bordered elevated class="overflow: visible">
    <div id="upper"  :class="[$mq == 'sm'? 'q-px-none q-gutter-xs' : 'q-px-md q-gutter-md', `wt-header-${size} q-py-sm bg-white`]" >
      <q-toolbar :class="[`wt-header-${size}`,'row justify-center items-center',$mq == 'sm'? 'q-gutter-md q-ma-none': '']">
        <div v-if="$mq !== 'sm'" class="col-md-1"></div>
        <q-toolbar-title :class="['col-shrink wt-m-pointer overflow-v',$mq == 'sm'? 'q-ma-none':'']">
          <portal-target name="header-logo">
          </portal-target>
        </q-toolbar-title>
        <div v-if="$mq =='sm'" class="col"></div>
        <div v-if="$mq =='sm'" class="col"></div>
        <q-btn
          class="col-shrink text-primary q-ma-none q-pt-sm"
          v-if="$mq =='sm'"
          :icon="showMobileNav ? 'fal fa-times' : 'fal fa-bars'"
          round
          dense
          unelevated
          @click="showMobileNav = !showMobileNav"
        />
        <wt-search-field v-if="$mq !== 'sm'"  class="col"/>
        <wt-local-changer v-if="$mq !== 'sm'" dense :class="['col-shrink text-primary',$mq == 'sm'? 'q-ma-none':'']" />
        <div v-if="auth && $mq !== 'sm'" class="row q-gutter-md">
          <wt-cart-btn class="col-shrink"/>
          <wt-profile-btn class="col-shrink"/>
          <wt-dash-btn v-if="admin" class="col-shrink"/>
        </div>
        <div v-if="!auth && $mq !== 'sm'">
          <wt-auth-btn-group
            class="col-shrink"
          >
          </wt-auth-btn-group>
        </div>
        <div v-if="$mq !=='sm'" class="col-md-1"></div>
      </q-toolbar>
    </div>
    <div id="downer" >
      <wt-categories-bar v-if="hasCategories" />
      <wt-nav-list
        class="col-shrink text-capitalize full-height"
        :items="items"
        v-bind="$attrs"
        v-if="showMobileNav"
        :showMobile="showMobileNav"
        :title="false"
      >
        <template v-slot:mobile-btns class="text-center q-px-lg">
          <wt-auth-btn-group v-if="!auth">
            <template v-slot:loggedInAdmin>
              <wt-dashboard-btn v-if="admin" />
            </template>
          </wt-auth-btn-group>
        </template>
      </wt-nav-list>
    </div>

  </q-header>
</template>
<script>
import routeHelpers from '../mixins/routeHelpers'
import WTAuthBtnGroup from './WTAuthBtnGroup.vue'
import WTCategoriesBar from './WTCategoriesBar.vue'
import WTLocalChanger from './WTLocalChanger.vue'
// import WTNavList from './WTNavList.vue'
import WTSearchField from '../components/WTSearchField'
import WTProfileBtn from '../components/WTProfileBtn'
import WTDashBtn from '../components/WTDashBtn'
import WTCartBtn from '../components/WTCartBtn'
import WTNavList from '../components/WTNavList'

export default {
  name: 'wt-nav-bar',
  mixins: [routeHelpers],
  props: {
    ...routeHelpers.props,
    hasCategories: {
      type: Boolean,
      default: false
    },
    size: {
      type: String
    },
    auth: {
      type: Boolean,
      default: false
    },
    logoUrl: {
      type: String,
      default: ''
    }
  },
  mounted () {
    //  console.log(`has1 ${this.hasRoutes}, hasNot1 ${this.hasNotRoutes}`)
  },
  data () {
    const self = this
    return {
      admin: false,
      showMobileNav: false,
      items: [
        { visible: true, path: '/', text: self.$t('home'), icon: 'person', active_icon: 'person' },
        { visible: true, path: '/aboutus', text: self.$t('aboutus'), icon: 'person', active_icon: 'person' },
        { visible: true, path: '/contactus', text: self.$t('contactus'), icon: 'person', active_icon: 'person' },
        { visible: true, path: '/privacy', text: self.$t('privacy_policy'), icon: 'person', active_icon: 'person' },
        { visible: true, path: '/terms', text: self.$t('terms_of_service'), icon: 'person', active_icon: 'person' },
        { visible: true, path: '/sitemap', text: self.$t('site_map'), icon: 'person', active_icon: 'person' }
      ]
    }
  },
  methods: {

  },
  components: {
    'wt-auth-btn-group': WTAuthBtnGroup,
    // 'wt-nav-list': WTNavList,
    'wt-categories-bar': WTCategoriesBar,
    'wt-search-field': WTSearchField,
    'wt-profile-btn': WTProfileBtn,
    'wt-dash-btn': WTDashBtn,
    'wt-local-changer': WTLocalChanger,
    'wt-cart-btn': WTCartBtn,
    'wt-nav-list': WTNavList
  }
}
</script>
<style lang="sass" >
$mqSM: true
.app-nav .q-tab__label
  font-size: 11px !important

.border
  border-top: 1px solid #003116

.wt-header-xs
  @if $mqSM == true
    min-height: 10px !important
  @else
    min-height: 25px !important

.wt-header-sm
  @if $mqSM == true
    min-height: 20px !important
  @else
    min-height: 50px !important

.wt-header-md
  @if $mqSM == true
    min-height: 30px !important
  @else
    min-height: 70px !important

.wt-header-lg
  @if $mqSM == true
    min-height: 70px !important
  @else
    min-height: 100px !important

.wt-header-xl
  @if $mqSM == true
    min-height: 100px !important
  @else
    min-height: 150px !important
</style>
