<template>
  <q-list
    v-if="$mq=='sm' && showMobile"
    class="q-mt-xl absolute-center full-width full-height"
    dense
  >
    <transition
      appear
      enter-active-class="animated slideDown"
      leave-active-class="animated slideUp"
    >
      <div
        key="one"
        v-if="showMobile"
        transition-show="slide-down"
        transition-hide="slide-up"
        class="absolute full-width text-primary bg-white wt-op-810 full-v-height text-center col self-center"
      >
        <q-item-label v-if="title">
          <div class="text-bold text-capitalize text-center">
            {{ linksTitle }}
          </div>
        </q-item-label>
        <q-item
          v-for="(x,i) in items"
          :key="i"
          class="wt-item row justify-center q-py-lg"
          clickable
          :to="x.path"
          :tag="tag"
          active-class="text-amber"
          @click="onItemClick(x.path)"
          dense
        >
          <q-item-section :class="['text-primary text-center',itemClass,x.path === $route.path ? activeClass:'']">
            {{$t(x.text)}}
          </q-item-section>
        </q-item>
        <slot name="mobile-btns">
        </slot>
      </div>
    </transition>
  </q-list>
  <q-list
    v-else-if="$mq != 'sm' "
    :class="vertical ? 'col' : 'row'"
    dense
  >
    <q-item-label v-if="title">
      <div class="text-left text-bold text-capitalize q-pa-md text-secondery text-h6">
        {{ linksTitle }}
      </div>
    </q-item-label>
    <q-item
      v-for="(x,i) in items"
      :key="i"
      :class="['wt-item',vertical ? 'row justify-left' : 'col-shrink self-center q-px-sm']"
      clickable
      active-class="text-amber"
      @click="onItemClick(x.path)"
      dense
    >
      <q-item-section
        dense
        :class="['text-white text-left',itemClass,x.path === $route.path ? activeClass:'']"
      >
        {{$t(x.text)}}
      </q-item-section>
    </q-item>
  </q-list>
</template>
<script>
import routeHelpers from '../mixins/routeHelpers.js'
export default {
  name: 'wt-nav-list',
  mixins: [routeHelpers],
  props: {
    linksTitle: {
      type: String,
      default: ''
    },
    title: {
      type: Boolean,
      default: true
    },
    tag: {
      type: String,
      default: 'div'
    },
    showMobile: {
      type: Boolean,
      default: false
    },
    itemClass: {
      type: String,
      default: ''
    },
    activeClass: {
      type: String,
      default: 'text-1'
    },
    vertical: {
      type: Boolean,
      default: false
    },
    items: {
      type: Array,
      default () {
        return [
          { visible: true, path: '/', text: 'home', icon: 'person', active_icon: 'person' },
          { visible: true, path: '/courses', text: 'courses', icon: 'person', active_icon: 'person' },
          { visible: true, path: '/news', text: 'news', icon: 'person', active_icon: 'person' },
          { visible: true, path: '/mycalender', text: 'curiclulum', icon: 'person', active_icon: 'person' },
          { visible: true, path: '/personalcenter', text: 'personal', icon: 'person', active_icon: 'person' }
        ]
      }
    }
  },
  mounted () {
  },
  data () {
    return {

    }
  },
  methods: {
    ...routeHelpers.methods,
    onItemClick (p) {
      // this.goToRoute(p)
      this.showMobile = false
      this.scrollTo(p)
      if (this.$route.path !== p) {
        this.$router.push(p)
      }
    },
    scrollTo (id) {
      try {
        document.getElementById(id).scrollIntoView({
          behavior: 'smooth'
        })
      } catch (w) {

      }
    }
  },
  watch: {
    showMobile () {

    }
  },
  components: {

  }
}
</script>
<style lang="scss">
.app-nav .q-tab__label {
  font-size: 11px !important;
}
.border {
  border-top: 1px solid #003116;
}
.wt-op-80{
  opacity: 0.8 !important;
}
.full-v-height{
  height: 100vh !important;
}
.wt-item {
  border:1px sold #003116;
}
.wt-item:hover{
  background-color: $primary;
}
</style>
