<template>
  <q-header bordered elevated>
    <div id="upper"  :class="[$mq == 'sm'? 'q-px-none q-gutter-xs' : 'q-px-md q-gutter-md', `wt-header-${size} q-py-sm bg-white`]" >
      <q-toolbar :class="[`wt-header-${size}`,'row justify-center items-center']">
        <q-toolbar-title :class="['col-shrink overflow-v',$mq == 'sm'? 'q-ma-none':'']">
          <portal-target name="header-logo">
          </portal-target>
        </q-toolbar-title>
        <wt-search-field class="col"/>
        <wt-cart-btn class="co-shrinkl"/>
        <wt-profile-btn class="col-shrink"/>
        <wt-dash-btn class="col-shrink"/>
        <wt-auth-btn-group
          class="col-shrink"
          v-if="auth && $mq !='sm'"
        >
          <template v-slot:loggedInAdmin>
            <wt-dashboard-btn v-if="admin" />
          </template>
        </wt-auth-btn-group>
      </q-toolbar>
    </div>
    <div id="downer">
      <wt-categories-bar />
    </div>
  </q-header>
</template>
<script>
import routeHelpers from '../mixins/routeHelpers'
import WTAuthBtnGroup from './WTAuthBtnGroup.vue'
import WTCategoriesBar from './WTCategoriesBar.vue'
// import WTNavList from './WTNavList.vue'
import WTSearchField from '../components/WTSearchField'
import WTProfileBtn from '../components/WTProfileBtn'
import WTDashBtn from '../components/WTDashBtn'
import WTCartBtn from '../components/WTCartBtn'

export default {
  name: 'wt-nav-bar',
  mixins: [routeHelpers],
  props: {
    ...routeHelpers.props,
    size: {
      type: String
    },
    auth: {
      type: Boolean,
      default: true
    },
    logoUrl: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default () {
        return [
        ]
      }
    }
  },
  mounted () {
    //  console.log(`has1 ${this.hasRoutes}, hasNot1 ${this.hasNotRoutes}`)
  },
  data () {
    return {
      admin: true,
      showMobileNav: false
    }
  },
  methods: {

  },
  components: {
    'wt-auth-btn-group': WTAuthBtnGroup,
    // 'wt-nav-list': WTNavList,
    'wt-categories-bar': WTCategoriesBar,
    'wt-search-field': WTSearchField,
    'wt-profile-btn': WTProfileBtn,
    'wt-dash-btn': WTDashBtn,
    'wt-cart-btn': WTCartBtn
  }
}
</script>
<style lang="sass" >
$mqSM: true
.app-nav .q-tab__label
  font-size: 11px !important

.border
  border-top: 1px solid #003116

.wt-header-xs
  @if $mqSM == true
    min-height: 10px !important
  @else
    min-height: 25px !important

.wt-header-sm
  @if $mqSM == true
    min-height: 20px !important
  @else
    min-height: 50px !important

.wt-header-md
  @if $mqSM == true
    min-height: 30px !important
  @else
    min-height: 70px !important

.wt-header-lg
  @if $mqSM == true
    min-height: 70px !important
  @else
    min-height: 100px !important

.wt-header-xl
  @if $mqSM == true
    min-height: 100px !important
  @else
    min-height: 150px !important
</style>
