<template>
  <div>
    <q-select
      v-if="mode === 'select'"
      :label="$t('language')"
      v-model="lang"
      :options="options"
      option-value="code"
      option-label="name"
      @input="setLocal"
    />
    <q-btn-dropdown
      v-else-if="mode === 'dropdown'"
      color="transperant"
      icon="fal fa-language"
      class="bg-transperant"
      :text-color="textColor"
      dense
      unelevated
      dropdown-icon=""
      round
    >
      <q-list>
        <q-item
          v-for="l in languegs"
          :key="l.code"
          clickable
          v-close-popup
          @click="setLocal(l.code)"
          :class="l.code === $i18n.locale ? 'text-primary bg-grey' : ''"
        >
          <q-item-section>
            <q-item-label class="text-capitalize">
              {{ $t(l.name) }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-btn-dropdown>
  </div>
</template>

<script>
/* eslint-disable */

export default {
  name: "wt-local-changer",
  props: {
    textColor: {
      type: String,
      default: 'white' // dropdown
    },
    mode: {
      type: String,
      default: 'select' // dropdown
    },
    languegs: {
      type: Array,
      default () {
        return [
          { code: 'ar', name: 'arabic' },
          { code: 'en-us', name: 'english' },
          { code: 'zh', name: 'chinese' }
        ]
      }
    }
  },
  components: {},
  mounted () {
    // console.log(`this.$i18n.locale : ${this.$i18n.locale}`);
    // this.setLocal(this.$loc)
  },
  methods: {
    /* doChangeLocal (l) {
      console.log(`changeing locals ${l} ${this.lang}`)
      this.lang = l
      console.log(`after locals ${l} ${this.lang}`)
    }, */
  },
  data () {
    return {
    }
  }
}
</script>
