<template>
  <div>

  </div>
</template>

<script>
/* eslint-disable */
import Vue from 'vue'
export default {
  name: "wt-local-changer",
  props: {
    textColor: {
      type: String,
      default: 'white' // dropdown
    },
    mode: {
      type: String,
      default: 'select' // dropdown
    },
    languegs: {
      type: Array,
      default () {
        return [
          { code: 'ar', name: 'arabic' },
          { code: 'en-us', name: 'english' },
          { code: 'zh', name: 'chinese' }
        ]
      }
    }
  },
  components: {},
  mounted () {
    // console.log(`this.$i18n.locale : ${this.$i18n.locale}`);
    // this.setLocal(this.$loc)
  },
  methods: {
    /* doChangeLocal (l) {
      console.log(`changeing locals ${l} ${this.lang}`)
      this.lang = l
      console.log(`after locals ${l} ${this.lang}`)
    }, */
  },
  data () {
    return {
    }
  }
}
</script>
