<template>
<div class="">

</div>
</template>
<style lang="sass">
.h50vh
  height: 50vh
.sbg
  height: 100vh
  background: rgba(0,0,0,0.5)
</style>
<script>
/* eslint-disable */
import WTGrid from './WTGrid.vue'
export default {
  name: "wt-categories-bar",
  props: {
  },
  components: {
    'wt-grid':WTGrid
  },
  mounted () {
    // console.log(`this.$i18n.locale : ${this.$i18n.locale}`);
    // this.setLocal(this.$loc)
  },
  methods: {
    doModel(val) {
      this.tab = val
      this.showbg = true
    },
    mouseOver(){
      this.tab = ''
      this.showbg = false
    }
    /* doChangeLocal (l) {
      console.log(`changeing locals ${l} ${this.lang}`)
      this.lang = l
      console.log(`after locals ${l} ${this.lang}`)
    }, */

  },
  data () {
    return {
      showbg: true,
      tab:'one',
      categories: [ 
        {id: '1', name:'one', brands:[
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          ],
           subcats:[{ name:'sub1 a'},{ name:'sub1 b'},{ name:'sub1 c'},{ name:'sub1 d'}]},
        {id: '2', name:'tow', brands:[
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'}],subcats:[{ name:'sub2 a'},{ name:'sub2 b'},{ name:'sub2 c'},{ name:'sub2 d'}]},
        {id: '3', name:'three', brands:[
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'}],subcats:[{ name:'sub3 a'},{ name:'sub3 b'},{ name:'sub3 c'},{ name:'sub3 d'}]},
        {id: '4', name:'four', brands:[
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},],subcats:[{ name:'sub4 a'},{ name:'sub4 b'},{ name:'sub4 c'},{ name:'sub4 d'}]},
        {id: '5', name:'five', brands:[
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},],subcats:[{ name:'sub5 a'},{ name:'sub5 b'},{ name:'sub5 c'},{ name:'sub5 d'}]},
        {id: '6', name:'six', brands:[
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},
          {imgUrl:'~assets/ph1.jpg'},],subcats:[{ name:'sub6 a'},{ name:'sub6 b'},{ name:'sub6 c'},{ name:'sub6 d'}]}
      ]
    }
  }
}
</script>
