<template>
  <q-card @click="$router.push('/product?id='+id)" class="wt-m-pointer">
      <q-img src="~assets/ph1.jpg" />

      <q-card-section>
        <div class="row no-wrap items-center">
          <div class="col text-h6 ellipsis">
            Cafe Basilico
          </div>
          <div class="col-auto text-grey text-caption q-pt-md row no-wrap items-center">
            <q-icon name="place" />
            250 ft
          </div>
        </div>

        <!--q-rating v-model="stars" :max="5" size="32px" /-->
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="text-subtitle1">
          $・Italian, Cafe
        </div>
        <div class="text-caption text-grey">
          Small plates, salads & sandwiches in an intimate setting.
        </div>
      </q-card-section>
  </q-card>

</template>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 300px
</style>
<script>
/* eslint-disable */

export default {
  name: "wt-local-changer",
  props: {
    textColor: {
      type: String,
      default: 'white' // dropdown
    },
    id: {
      type: String,
      default: 'select' // dropdown
    },
    languegs: {
      type: Array,
      default () {
        return [
          { code: 'ar', name: 'arabic' },
          { code: 'en-us', name: 'english' },
          { code: 'zh', name: 'chinese' }
        ]
      }
    }
  },
  components: {},
  mounted () {
    // console.log(`this.$i18n.locale : ${this.$i18n.locale}`);
    // this.setLocal(this.$loc)
  },
  methods: {
    /* doChangeLocal (l) {
      console.log(`changeing locals ${l} ${this.lang}`)
      this.lang = l
      console.log(`after locals ${l} ${this.lang}`)
    }, */


  },
  data () {
    return {
      stars: 5
    }
  }
}
</script>
