<template >
  <div class="q-pa-md row">
    <div
      class="col"
      v-if="$mq != 'sm'"
    ></div>
    <div
      class="col"
      :style="$mq == 'sm' ? 'width: 80%': 'max-width: 30%'"
    >
      <q-card class="q-my-xl row">
        <div class="col-md-1"></div>
        <div class="col">
        <q-card-section class="position-absolute">
          <div class="text-primary text-capitalize text-bold text-h5">{{$t('reset_password_form')}}</div>
        </q-card-section>
        <q-card-section>
          <q-form class="q-gutter-md">
            <q-input :label="$t('username_or_email')"></q-input>
            <q-input :label="$t('verification_code')"></q-input>
            <q-input
              :label="$t('password')"
              password
            ></q-input>
            <q-input
              :label="$t('password_confirmation')"
              password
            ></q-input>
            <q-btn
              color="primary"
              :label="$t('confirm')"
              @click="doLogin"
            ></q-btn>
            <q-btn
              size="12px"
              :label="$t('signup')"
              flat
              to="/signup"
            ></q-btn>
            <q-btn
              size="12px"
              :label="$t('login')"
              flat
              to="/login"
            ></q-btn>
            <br>
          </q-form>
        </q-card-section>
        </div>
        <div class="col-md-1"></div>
      </q-card>
      <div class="text-negative text-center text-capitalize" v-if="showError">{{$t(error_string)}}</div>
    </div>
    <div
      class="col"
      v-if="$mq != 'sm'"
    ></div>
  </div>
</template>
<style lang="scss" scoped>
</style>
<script>
export default {
  name: 'wt-reset-password-form',
  props: {
    styling: {
      type: String,
      default: 'center-box' // left-box , right-box , center-form  right form left form
    }

  },
  data () {
    return {
      showError: false,
      error_string: '',
      user: {
        username_: '',
        password: '',
        tokens: '',
        code: ''
      }
    }
  },
  methods: {
    doTempError () {
      // link all actions to this func
      // set the text for the error
      if (!this.showError) {
        this.error_string = 'could_not_connect_to_valiosa'
        // show the error
        this.showError = true
        // hide it after interveral
        const self = this
        setInterval(() => {
          self.showError = false
        }, 3000)
      }
    },
    doLogin () {
      this.doTempError()
      /* fetch(`${this.$host}/user/login`, {
        method: 'POST'
      }).then(response => response.json()
      ).then(data => {
        console.log(`programs: ${JSON.stringify(data)}`)
        self.programDetails = data
      })
      this.$session.start()
      this.$router.push('/app/index') */
    }

  }
}
</script>
