<template>
  <q-input
    :placeholder="$t('what_are_you_looking_for')"
    v-model="searchString"
    class="bg-red1"
    dense
    v-bind="$attrs"
  >
    <template append v-if="btn">
      <q-btn icon="fal fa-search" flat />
    </template>
  </q-input>
</template>

<script>
export default {
  name: 'wt-search-field',
  props: {
    value: {
      type: String,
      default: ''
    },
    btn: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: 'search'
    }
  },
  components: {},
  mounted () {
    // self1 = this
  },
  methods: {
  },
  data () {
    return {
      searchString: ''
    }
  },
  watch: {
    searchString (newVal) {
      console.log('nnn ')
      this.$emit('input', newVal)
    }
  }
}
</script>
