<template>
  <div class="">
  </div>
</template>
<script>
export default {
  name: 'wt-side-bar',
  computed: {
  },
  props: {
  },
  data () {
    return {

    }
  },
  methods: {

  },
  components: {

  }
}
</script>
<style >
</style>
