<template >
  <div class="q-pa-md row">
    <div
      class="col"
      v-if="$mq != 'sm'"
    ></div>
    <div
      class="col"
      :style="$mq == 'sm' ? 'width: 80%': 'max-width: 30%'"
    >
      <q-card class="q-my-xl row">
        <div class="col-md-1"></div>
        <div class="col">
        <q-card-section class="position-absolute">
          <div class="text-primary text-capitalize text-h5 text-bold ">{{$t('signup_form')}}</div>
        </q-card-section>
        <q-card-section class="">
          <q-form
            v-if="phoneNumberOnly"
            class=""
          >
            <q-input
              v-if="username"
              :label="$t('username')"
              v-model="user.username_"
            ></q-input>
            <q-input
              v-if="username"
              :label="$t('username')"
              v-model="user.username_"
            ></q-input>
          </q-form>
          <q-form
            v-else
            class="q-gutter-md"
          >
            <q-input
              v-if="username"
              :label="$t('username')"
              v-model="user.username_"
            ></q-input>
            <q-input
              :label="$t('email')"
              v-model="user.email"
            ></q-input>
            <!-- q-input :label="$t('password')" type="password"></q-input-->
            <wt-password-input
              v-model="user.password"
              clearTextToggle
              strength
              clearTextTogglePush
            />
            <wt-password-input
              v-model="user.confirmation"
              confirmation
              :confirm="user.password"
              :rules="
              [val => !!val || $t('field_is_required'),
              val => val.length >= 5 || $t('min_length_5'),
              val => val == user.password || $t('wrong_confirmation')]"
              lazy-rules
            />
            <!--q-input :label="$t('password_confirmation')" type="password"></q-input-->
            <br>
            <br>
            <q-btn
              color="primary"
              :label="$t('signup')"
              @click="doSignup"
            ></q-btn>
            <br>
            <q-btn
              size="12px"
              :label="$t('already_have_an_account')"
              flat
              to="/login"
            ></q-btn>
                        <div
              v-if="thirdParties.length > 0"
              class="column"
            >
              <div class="row q-gutter-x-sm">
                <q-separator class="col-sm-shrink col-md self-center" />
                <div class="col self-center text-center text-primary text-h6 text-capitalize">{{$t('other_options')}}</div>
                <q-separator class="col-sm-shrink col-md self-center" />
              </div>
              <div class="q-mt-md q-gutter-sm text-center">
                <q-btn
                  class=""
                  v-for="(option, i) in thirdParties"
                  round
                  :key="i"
                  t
                  @click="p3rdLogin(option)"
                  unelevated
                >
                  <q-img :src="require(`./icons/${get3rdPBtn(option).icon}`)" />
                  <q-tooltip>{{$t(get3rdPBtn(option).toolTip)}}</q-tooltip>
                </q-btn>
              </div>
            </div>
          </q-form>
        </q-card-section>
        </div>
      <div class="col-md-1"></div>
      </q-card>
      <div class="text-negative text-center text-capitalize" v-if="showError">{{$t(error_string)}}</div>
    </div>

    <div
      class="col"
      v-if="$mq != 'sm'"
    ></div>
  </div>
</template>
<style lang="scss" scoped>
</style>
<script>
export default {
  name: 'wt-signup-form',
  props: {
    /*
      Google
      Facebook
      GitHub
      Wechat
    */
    thirdParties: {
      type: Array,
      default () {
        return ['Google', 'Facebook']
      }
    },
    username: {
      type: Boolean,
      default: false
    },
    phoneNumberOnly: {
      type: Boolean,
      default: false
    },
    styling: {
      type: String,
      default: 'center-box' // left-box , right-box , center-form  right form left form
    },
    successRedirect: {
      type: String,
      default: '/'
    }
  },
  data () {
    return {
      showError: false,
      user: {
        username_: '',
        password: '',
        tokens: '',
        code: ''
      }
    }
  },
  methods: {
    doTempError () {
      // link all actions to this func
      // set the text for the error
      if (!this.showError) {
        this.error_string = 'could_not_connect_to_valiosa'
        // show the error
        this.showError = true
        // hide it after interveral
        const self = this
        setInterval(() => {
          self.showError = false
        }, 3000)
      }
    },
    p3rdLogin (o) {
      this.doTempError()
    },
    get3rdPBtn (o) {
      let x = {}
      const self = this
      if (o === 'Google') {
        x = { icon: 'google.png', toolTip: self.$t('login_with_google') }
      } else if (o === 'Facebook') {
        x = { icon: 'facebook.png', toolTip: self.$t('login_with_facebook') }
      }
      return x
    },
    validation (x) {
      //  this.validForm = x
      console.log(`changing ${x}`)
    },
    doSignup () {
      this.doTempError()

      // const self = this
      /* this.$request('post', 'user/signup', {}, this.user, function (data) {
        if (data.success) {
          console.log('')
          //
        } else {
          console.log('')
          // data.reason
        }
      }) */
    }

  }
}
</script>
