<template>
  <div :class="['row q-gutter-md',
    centerize? 'justify-center':'' ]">
    <q-btn
      v-for="l in links"
      :key="l.id"
      :icon="l.icon"
      :class="['col-shrink ',l.class]"
      v-bind="$attrs"
      type="a"
      :href="l.link"
      target="__blank"
    ></q-btn>
    <div
      class="col"
      v-if="!centerize"
    ></div>
  </div>
</template>
<script>
export default {
  name: 'wt-social-links',
  props: {
    centerize: {
      type: Boolean,
      default: false
    },
    links: {
      type: Array,
      default () {
        return [
          { id: 0, class: '', name: 'wt-social-links', icon: 'fal fa-twitter' },
          { id: 1, class: '', name: 'wt-social-links', icon: 'fal fa-facebook' },
          { id: 2, class: '', name: 'wt-social-links', icon: 'fal fa-instagram' },
          { id: 3, class: '', name: 'wt-social-links', icon: 'fal fa-youtube' },
          { id: 4, class: '', name: 'wt-social-links', icon: 'fal fa-whatsapp' },
          { id: 5, class: '', name: 'wt-social-links', icon: 'fal fa-email' },
          { id: 6, class: '', name: 'wt-social-links', icon: 'fal fa-phone' }
        ]
      }
    }
  },
  data () {
    return {

    }
  },
  created () {
  }
}
</script>
