@font-face {
    font-family: cairo;
    src: url('./fonts/cairo/Cairo-SemiBold.ttf')
}

.font-cairo {
    font-family: 'cairo'
}

body::-webkit-scrollbar {
    display: none;
}

.wt-m-pointer {
    cursor: pointer;
}

.wt-card-grid {
    width: 50vw;
}