<template>
  <div class="row q-py-xl">
    <div class="col-2"></div>
    <div class="col" >
      <div class="row q-py-xl text-h4 text-capitalize text-bold">{{$t('who_are_we')}}</div>
      <div class="row text-body1 text-capitalize " >{{$t('who_are_we_content')}}</div>
      <!--من نحن
    متجر اطفالي ( احدي اعمال شركة تكنك بروفيشنال ) من اكبر المتاجر المتخصصة في كل مستلزمات الاطفال من ملابس ولعب واحذية.
    السودان, الخرطوم - الميناء البري - القسم التجاري - شركة تكنك بروفيشنال
    هاتف: 6523-->
    </div>
    <div class="col-2"></div>
  </div>
</template>

<script>

export default {
  name: 'Aboutus'
}
</script>
