<template>
<div v-if="$mq === 'sm'" class="column full-height">
    <div class="col text-primary">
      <div class="row ">
        <q-tabs class="col-shrink bg-grey-2 "  v-model="catTab" vertical>
          <q-tab :name="cat.name" :label="cat.name"  v-for="(cat,i) in categories" :key="i" ></q-tab>
        </q-tabs>
        <q-separator class="col-shrink" vertical />
        <q-tab-panels class="col" v-model="catTab" vertical>
          <q-tab-panel :name="cat.name" :label="cat.name"  v-for="(cat,i) in categories" :key="i">
            <div>{{cat.name}}</div>
            <wt-grid>
            </wt-grid>
          </q-tab-panel>
        </q-tab-panels>
      </div>
  </div>
</div>

<div v-else class="row q-py-xl">
  <div class="col-md-1"></div>
  <div class="col">
    <div class="row q-px-xl">
      <div class="col-2 q-mx-md">
      <div class="row prices">
        <div class="text-capitalize">{{$t('prices')}}</div>
      </div>
      <div class="text-capitalize">{{$t('categories')}}</div>
      <q-tree class="row categories"
        :nodes="simple"
        node-key="label"
        tick-strategy="leaf"
        :selected.sync="selected"
        :ticked.sync="ticked"
        :expanded.sync="expanded"
      />
      <div class="row rating">
        <div class="text-capitalize">{{$t('rating')}}</div>
      </div>
      <div class="row rating">
        <div class="text-capitalize">{{$t('brands')}}</div>
      </div>
      <div class="row rating">
        <div class="text-capitalize">{{$t('sizes')}}</div>
      </div>
      <div class="row rating">
        <div class="text-capitalize">{{$t('colors')}}</div>
      </div>
    </div>
    <div class="col-shrink">
      <q-separator vertical />
    </div>
    <div class="col">
      <q-toolbar class="row q-gutter-md">
        <div class="col-shrink text-capitalize"> sort </div>
        <div class="col-shrink text-capitalize"> grid </div>
        <div class="col-shrink text-capitalize"> perpage </div>
        <div class="col text-capitalize flex flex-center">
          <q-pagination
            v-model="currentPage"
            :max="5"
            input
          />
        </div>
      </q-toolbar>
        <wt-grid class="row full-width" cellCalss="q-ma-md " :columns="4" :itemsCount="products.length" :placeholder="false">
          <template v-for="(product,x) in products"  v-slot:[`item_${x}`]>
            <wt-product-card :key="x" >
            </wt-product-card>
          </template>
        </wt-grid>
      <div class="row flex-center">
        <q-pagination
          v-model="currentPage"
          :max="5"
          input
        />
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
</template>

<script>
import WTGridCard from '../../components/WTGridHome.vue'
import WTProductCard from '../../components/WTProductCard.vue'
export default {
  name: 'Categories',
  components: {
    'wt-grid': WTGridCard,
    'wt-product-card': WTProductCard
  },
  beforeMount () {
    // get the products according to the categories params from product controller
  },
  data () {
    return {
      products: ['', '', '', '', '', '', '', '', '', '', '', ''],
      currentPage: 1,
      simple: [
        {
          label: 'Satisfied customers',
          children: [
            {
              label: 'Good food',
              children: [
                { label: 'Quality ingredients' },
                { label: 'Good recipe' }
              ]
            },
            {
              label: 'Good service (disabled node)',
              disabled: true,
              children: [
                { label: 'Prompt attention' },
                { label: 'Professional waiter' }
              ]
            },
            {
              label: 'Pleasant surroundings',
              children: [
                { label: 'Happy atmosphere' },
                { label: 'Good table presentation' },
                { label: 'Pleasing decor' }
              ]
            }
          ]
        }
      ],
      selected: 'Pleasant surroundings',
      ticked: ['Quality ingredients', 'Good table presentation'],
      expanded: ['Satisfied customers', 'Good service (disabled node)', 'Pleasant surroundings'],
      catTab: '',
      categories: [{ name: 'cat_one' }, { name: 'cat_tow' }, { name: 'cat_three' }]
    }
  }
}
</script>
