<template>
  <wt-contact-us-page>
    <template slot="header">
      <q-parallax src="~assets/contact1.jpg"  dir="ltr">
        <div class="absolute-full text-subtitle2 flex flex-center bg-black wt-op-60">
          <div class="column text-center text-capitalize q-gutter-lg">
            <div :class="['col text-white text-center text-bold', $mq == 'sm' ? 'text-h4': 'text-h3']">{{$t('company_name')}}</div>
            <div :class="['col text-white text-center', $i18n.locale == 'ar' ? '': 'text-space-sm',$mq == 'sm' ? 'text-h7': 'text-h6']">
              {{$t('company_description')}}
            </div>
          </div>
        </div>
      </q-parallax>
    </template>
    <template slot="first">
      <div :class="['q-py-xl q-gutter-xl justify-center', $mq == 'sm' ? 'column':'row']">
        <div class="col-sm-1 col-md-2"></div>
        <div class="col">
          <div :class="['q-gutter-sm', $mq == 'sm' ? 'column q-px-md':'row']"   >
            <wt-hover-card class="col" v-for="p in list" :key="p.id" >
              <div class="row">
                <div class="col-2">
                    <q-icon :name="p.icon" size="30px"></q-icon>
                </div>
                <div class="col text-capitalize" >
                  {{$t(p.title)}}
                </div>
              </div>
              <template slot="drawer">
                <div class="row bg-white q-pa-md full-width full-height">
                  <div class="col self-center text-bold text-h6 text-capitalize text-center">
                    {{$t(p.content)}}
                  </div>
                </div>
              </template>
            </wt-hover-card>
          </div>
          <div :class="['q-gutter-sm text-white q-py-lg',  $mq == 'sm' ? 'column q-px-md text-center':'row']" v-show="false">
            <div class="col-4 text-h4 text-bold"> {{$t('contact_text_left')}} </div>
            <div class="col text-h5 "> {{$t('contact_text_right')}}</div>
          </div>
        </div>
        <div class="col-sm-1 col-md-2"></div>
      </div>
    </template>
    <template slot="second">
      <div :class="['q-py-xl q-gutter-xl justify-center', $mq == 'sm' ? 'col q-px-md' : 'row']">
        <div class="col-sm-1 col-md-2"></div>
        <div class="col">
          <wt-location-map
            :options="{
              fullscreenControl:false
            }"
            iframe
            :zoom="15"
            :title="$t('company_name_description')"
            :position="{lat:15.527813710814929,lng: 32.543244474635756}"
            :center="{lat:15.527813710814929,lng: 32.543244474635756}">
                  <GmapMarker
                  :title="$t('company_name_description')"
                  :position="{lat:15.527813710814929,lng: 32.543244474635756}" />
          </wt-location-map>
        </div>
        <div class="col-2 column">
          <div class="text-5"></div>
          <div class="text-6"></div>
          <wt-contact-form></wt-contact-form>
        </div>
        <div class="col-sm-1 col-md-2"></div>
      </div>
    </template>
    <template name="so-do-this">
        <wt-contactus-section imgSrc="~assets/about_contact.jpg">
        </wt-contactus-section>
    </template>
  </wt-contact-us-page>
</template>
<style scoped>
.q-page-container{
  padding-top: 0px !important
}
</style>
<script>
import WTContactUsPage from '../../components/WTContactUsPage'
import WTContactusSection from '../../components/WTContactusSection'
export default {
  name: 'Contactus',
  components: {
    'wt-contact-us-page': WTContactUsPage,
    'wt-contactus-section': WTContactusSection
  },
  methods: {
  },
  data () {
    return {
      list: [
        { id: 0, title: 'address', icon: 'fal fa-map-marker-alt', content: 'techpro_address' },
        { id: 1, title: 'phone', icon: 'fal fa-phone', content: 'techpro_phones' },
        { id: 2, title: 'openning_houres', icon: 'fal fa-clock', content: 'techpro_openning_houres' }
      ]
    }
  }
}
</script>
