<template>
  <q-page class="">
    <!--
      if no category given
        list of categories:
        for each category list home cards
      if a category was given display
        show the given categry with pagination and side details
      -- new home --
      offers - premotions - featured - recoomend for all around the site
      promotion
        a promotion is an discount or a gift can be a slider or a banner
      ad
        is an advertisment for a new product or category
      fetured
        is a product card that is promoted on the home page
        like recommanded for you
        or trending product
        or top ratings
      then for each major category
    -->
    <!--div v-if="$route.query.category">
      <wt-grid :columns="3" :itemsCount="categoryProduct.length" :placeholder="false">
          <template v-for="(product,x) in categoryProduct"  v-slot:[`item_${x}`]>
            <wt-product-card :key="x" >
              product
            </wt-product-card>
          </template>
      </wt-grid>
      pagination
      side bar for product filtering
    </div>
    <div v-else-if="$route.query.search">
      <wt-grid :columns="3" :itemsCount="productSearchResult.length" :placeholder="false">
          <template v-for="(product,x) in productSearchResult"  v-slot:[`item_${x}`]>
            <wt-product-card :key="x" >
              product
            </wt-product-card>
          </template>
      </wt-grid>
      pagination
      side bar for product filtering
    </div>
    <div v-else class="q-mx-lg q-px-lg col text-center">
      <div v-for="(cat,i) in homePageCategories" :key="i" class="q-ma-xl q-mx-lg column text-center col text-center justify-center items-center self-center">
        <div class="text-center text-bold text-h3 text-capitalize q-my-xl">category</div>
        <wt-grid class="row wt-card-grid  col q-mx-lg" cellCalss="q-ma-md " :columns="4" :itemsCount="cat.products.length" :placeholder="false">
          <template v-for="(product,x) in cat.products"  v-slot:[`item_${x}`]>
            <wt-product-card :key="x" >
            </wt-product-card>
          </template>
        </wt-grid>
      </div>
    </div-->
    <div :class="['row', $mq !== 'sm'? ' q-py-xl':'']">
      <div class="col-md-1"></div>
      <div class="col">
        <div class="column q-gutter-md" style="flex-wrap: nowrap; !important">
          <div class="col">
            <q-carousel
              animated
              v-model="slide"
              navigation
              infinite
              :autoplay="true"
              arrows
              transition-prev="slide-right"
              transition-next="slide-left"
            >
              <q-carousel-slide class="wt-m-pointer" @click="$router.push('/categories')" :name="1" img-src="~assets/ph1.jpg" />
              <q-carousel-slide class="wt-m-pointer" @click="$router.push('/categories')" :name="2" img-src="~assets/ph1.jpg" />
              <q-carousel-slide class="wt-m-pointer" @click="$router.push('/categories')" :name="3" img-src="~assets/ph1.jpg" />
              <q-carousel-slide class="wt-m-pointer" @click="$router.push('/categories')" :name="4" img-src="~assets/ph1.jpg" />
            </q-carousel>
          </div>

          <div class="col-shrink"  >
            <div class="row full-2 q-gutter-md" >
              <q-img @click="$router.push('/categories')" class="col wt-m-pointer" src="~assets/ph1.jpg"  wt-m-pointer/>
              <q-img @click="$router.push('/categories')" class="col wt-m-pointer" src="~assets/ph1.jpg" />
              <q-img @click="$router.push('/categories')" class="col wt-m-pointer" src="~assets/ph1.jpg" />
            </div>
          </div>
          <!-- New Products -->
          <div class="col">
            <div class="row text-h5 text-bold text-capitalize">{{$t('new_products')}}</div>
            <wt-grid class="row"  cellCalss="q-ma-sm" :columns="columnsNumber" :itemsCount="products1.length" :placeholder="false">
              <template v-for="(product,x) in products1"  v-slot:[`item_${x+1}`]>
                <wt-product-card :key="x" >
                </wt-product-card>
              </template>
            </wt-grid>
          </div>
          <!-- Recomended Products -->
          <div class="col">
            <div class="row text-h5 text-bold text-capitalize">{{$t('recommended_products')}}</div>
            <wt-grid class="row"  cellCalss="q-ma-md " :columns="columnsNumber" :itemsCount="products2.length" :placeholder="false">
              <template v-for="(product,x) in products2"  v-slot:[`item_${x+1}`]>
                <wt-product-card :key="x" >
                </wt-product-card>
              </template>
            </wt-grid>
          </div>
          <!-- Popular Products -->
          <div class="col">
            <div class="row text-h5 text-bold text-capitalize">{{$t('popular_products')}}</div>
            <wt-grid class="row"  cellCalss="q-ma-md " :columns="columnsNumber" :itemsCount="products3.length" :placeholder="false">
              <template v-for="(product,x) in products3"  v-slot:[`item_${x+1}`]>
                <wt-product-card :key="x" >
                </wt-product-card>
              </template>
            </wt-grid>
          </div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>

        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </q-page>
</template>

<script>
import meta from '../../mixins/meta'
import WTProductCard from '../../components/WTProductCard.vue'
import WTGrid from '../../components/WTGridHome.vue'

export default {
  name: 'Home',
  mixins: [meta],
  components: {
    'wt-product-card': WTProductCard,
    'wt-grid': WTGrid
  },
  computed: {
    columnsNumber () {
      return this.$mq === 'sm' ? 2 : 5
    }
  },
  beforeMount () {
    // get adds and fetured products from product controllers
  },
  created () {
  },
  data () {
    return {
      slide: '',
      products1: ['', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
      products2: ['', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
      products3: ['', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
      productSearchResult: [],
      homePageCategories: [
        { products: ['', '', '', '', '', '', '', '', '', '', '', ''] },
        { products: ['', '', '', '', '', '', '', '', '', '', '', ''] },
        { products: ['', '', '', '', '', '', '', '', '', '', '', ''] },
        { products: ['', '', '', '', '', '', '', '', '', '', '', ''] },
        { products: ['', '', '', '', '', '', '', '', '', '', '', ''] },
        { products: ['', '', '', '', '', '', '', '', '', '', '', ''] },
        { products: ['', '', '', '', '', '', '', '', '', '', '', ''] }
      ],
      categoryProduct: ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
    }
  }
}
</script>
