<template>
  <q-page class="flex row">
      <wt-login-form class="col q-ma-md" ></wt-login-form>
  </q-page>
</template>

<script>
import meta from '../../mixins/meta'
import WTLoginForm from '../../components/WTLoginForm.vue'

export default {
  name: 'Login',
  mixins: [meta],
  components: {
    'wt-login-form': WTLoginForm
  }

}
</script>
