<template>
<div class="row q-py-xl">
  <div class="col-2"></div>
  <div class="col" v-html="$t('privacy_html')">
  </div>
  <div class="col-2"></div>
</div>
</template>

<script>

export default {
  name: 'Error404'
}
</script>
