<template>
  <q-page :class="['row',$mq == 'sm'? '':' q-px-xl q-mx-xl']">
    <section :class="['col',$mq == 'sm'? '':' q-px-xl q-mx-xl']">
      <div class="row q-px-sm">
        <div class="col-md-1"></div>
        <q-breadcrumbs class="col q-my-md">
          <q-breadcrumbs-el class="col" icon="home" to="/" />
          <q-breadcrumbs-el class="col" label="All Producst" icon="widgets" to="" />
          <q-breadcrumbs-el class="col" label="Product" icon="widgets" to="" />
          <q-breadcrumbs-el class="col" label="Category" icon="widgets" />
        </q-breadcrumbs>
        <div class="col-md-1"></div>
      </div>

      <div v-if="$mq !== 'sm'" class="row">
        <div class="col-1"></div>
        <div class="col-3 picture">
          <div class="column">
              <q-img class="col" src="~assets/ph1.jpg" />
              <div class="col q-my-md">
                <div class="row q-gutter-sm">
                  <div class="col"><q-img class="col" src="~assets/ph1.jpg" /></div>
                  <div class="col"><q-img class="col" src="~assets/ph1.jpg" /></div>
                  <div class="col"><q-img class="col" src="~assets/ph1.jpg" /></div>
                  <div class="col"><q-img class="col" src="~assets/ph1.jpg" /></div>
                </div>
              </div>
          </div>
        </div>
        <div class="col  description q-mx-xl">
          <div class="column">
            <div class="col-shrink">
              <div class="text-h4 text-capitalize text-bold q-my-md">{{product.name}}</div>
            </div>
            <div class="col-shrink">
              <div class="text-h6  q-my-sm">{{product.description}}</div>
            </div>
            <div class="col-shrink">
              <div class="text-h4 text-green">${{product.price}}</div>
            </div>
            <div class="col vertical-bottom">
                <div class="row bg-white">
                  <q-btn flat/>
                </div>
                <div class="row bg-white">
                  <q-btn flat/>
                </div>
                <div class="row bg-white">
                  <q-btn flat/>
                </div>
                <div class="row bg-white">
                  <q-btn flat/>
                </div>
                <div class="row bg-white">
                  <q-btn flat/>
                </div>
                <div class="row q-gutter-sm vertical-bottom">
                  <div class="col-shrink">
                    <div class="inline">
                      <q-btn class="vertical-middle float-left" label="-" dense round color="primary" :size="10" />
                      <div class="q-mx-md text-center text-h6 float-left"> {{count}} </div>
                      <q-btn class="vertical-middle float-right" label="+" dense round color="primary" :size="10" />
                    </div>
                  </div>
                  <div class="col "></div>
                  <q-btn class="col" color="primary" :label="$t('add_to_card')" icon="fas fa-shopping-cart"/>
                </div>
            </div>
          </div>
        </div>
        <q-separator vertical />
        <div class="col-shrink similler products q-mx-xl text-center">
          <div>one item</div>
          <div>tow item</div>
          <div>three item</div>
          <div>four item</div>
        </div>
        <div class="col-1"></div>
      </div>
      <div v-else class="column">
        <q-img class="col" src="~assets/ph1.jpg" />
        <div class="col q-my-md q-mb-xl q-pb-md">
          <div class="row q-gutter-sm">
            <div class="col"><q-img class="col" src="~assets/ph1.jpg" /></div>
            <div class="col"><q-img class="col" src="~assets/ph1.jpg" /></div>
            <div class="col"><q-img class="col" src="~assets/ph1.jpg" /></div>
            <div class="col"><q-img class="col" src="~assets/ph1.jpg" /></div>
          </div>
        </div>
        <div class="col text-h4 text-capitalize text-bold q-my-md">{{product.name}}</div>
        <div class="col text-h6  q-my-sm">{{product.description}}</div>
        <div class="col text-h4 text-green">${{product.price}}</div>
        <div class="col  description q-mx-sm">
            <div class="col vertical-bottom">
                <div class="row q-gutter-sm vertical-bottom">
                  <div class="col-shrink">
                    <div class="inline">
                      <q-btn class="vertical-middle float-left" label="-" dense round color="primary" :size="10" />
                      <div class="q-mx-md text-center text-h6 float-left"> {{count}} </div>
                      <q-btn class="vertical-middle float-right" label="+" dense round color="primary" :size="10" />
                    </div>
                  </div>
                  <q-btn class="col" color="primary" :label="$t('add_to_card')" icon="fas fa-shopping-cart"/>
                </div>
            </div>
          </div>
        </div>
      <div class="row">
        <q-separator   />
      </div>
      <div class="row q-my-md">
        <div class="col q-my-md">
          <q-tabs v-model="tab" class="q-my-md">
            <q-tab name="overview" :label="$t('overview')"></q-tab>
            <q-tab name="specification" :label="$t('specification')"></q-tab>
            <q-tab name="reviews" :label="$t('reviews')"></q-tab>
          </q-tabs>
          <q-tab-panels
            v-model="tab"
            animated
            swipeable
            vertical
            class="q-px-xl"
            transition-prev="jump-up"
            transition-next="jump-up">
            <q-tab-panel class="q-px-lg" name="overview">
              <div class="q-px-xl">product overview</div>
            </q-tab-panel>
            <q-tab-panel class="q-px-lg" name="specification">
              <div class="q-px-xl">product specification</div>
            </q-tab-panel>
            <q-tab-panel class="q-px-lg" name="reviews">
              <div class="q-px-xl">product review</div>
            </q-tab-panel>
          </q-tab-panels>
        </div>
      </div>
    </section>
  </q-page>
</template>

<script>

import meta from '../../mixins/meta'

export default {
  name: 'Product',
  mixins: [meta],
  data () {
    return {
      count: 1,
      product: { name: 'product name', description: 'summary product deescription', price: '30.00' },
      tab: 'overview'
    }
  }

}
</script>
