<template>
  <q-page class="flex row">
    <wt-reset-password-form class="col q-ma-md"></wt-reset-password-form>
  </q-page>
</template>

<script>

import meta from '../../mixins/meta'
import WResetPasswordForm from '../../components/WTResetPasswordForm.vue'

export default {
  name: 'Reset',
  mixins: [meta],
  beforeCreate () {
    this.setTitle('')
  },
  components: {
    'wt-reset-password-form': WResetPasswordForm
  }

}
</script>
