<template>
  <q-page class="flex row">
    <wt-signup-form class="col q-ma-md"></wt-signup-form>
  </q-page>
</template>

<script>
import meta from '../../mixins/meta'
import WTSignupForm from '../../components/WTSignupForm.vue'
export default {
  name: 'Signup',
  mixins: [meta],
  components: {
    'wt-signup-form': WTSignupForm
  }

}
</script>
