<template>
<div class="row q-py-xl">
  <div class="col-2"></div>
  <div class="col text-center">
    <div class="text-capitalize text-h4 text-bold text-center">{{$t('sitemap')}}</div>
<div><div class="q-pa-md q-gutter-sm">
    <q-tree
      :nodes="simple"
      node-key="label"
      :filter-method="myFilterMethod"
      default-expand-all
    >
     <template v-slot:default-header="prop">
        <div class="row items-center">
          <q-icon :name="prop.node.icon || 'fas fa-link'" color="primary" size="15px" class="q-mr-sm" />
          <div class="text-capitalize text-weight-bold text-primary">{{ prop.node.label }}</div>
        </div>
      </template>
      <!--template v-slot:default-body="prop">
        <q-btn :label="$t('go')" :to="prop.node.link" />
      </template-->
    </q-tree>
  </div></div>

  </div>
  <div class="col-2"></div>
</div>
</template>

<script>
export default {
  data () {
    const self = this
    return {
      simple: [
        {
          label: self.$t('home'),
          children: [
            // shoping
            // // product catrgories
            // // cart
            // user
            // // login
            // // signup
            // // rest

            // info
            // // aboutus
            // // contactus
            // leagal
            // // privacy_policy
            // // terms_of_service
            {
              label: self.$t('shopping'),
              children: [
                { label: self.$t('product_categories') },
                { label: self.$t('cart') }
              ]
            },
            {
              label: self.$t('user'),
              children: [
                { label: self.$t('login') },
                { label: self.$t('signup') },
                { label: self.$t('reset') }
              ]
            },
            {
              label: self.$t('info'),
              children: [
                { label: self.$t('aboutus') },
                { label: self.$t('contactus') }
              ]
            },
            {
              label: self.$t('leagal'),
              children: [
                { label: self.$t('privacy_policy') },
                { label: self.$t('terms_of_service') }
              ]
            }
          ]
        }
      ]
    }
  },

  methods: {
    myFilterMethod (node, filter) {
      const filt = filter.toLowerCase()
      return node.label && node.label.toLowerCase().indexOf(filt) > -1 && node.label.toLowerCase().indexOf('(*)') > -1
    },

    resetFilter () {
      this.filter = ''
      this.$refs.filter.focus()
    }
  }
}
</script>
