<template>
  <div id="q-app" class="font-cairo">
    <router-view />
    <portal to="header-logo">
      <q-img v-if="$i18n.locale == 'en-us'"  @click="$router.push('/')" src="~assets/header.png" :width="$mq == 'sm' ? '90pt':'150pt'"  />
      <q-img v-else  @click="$router.push('/')" src="~assets/header_ar.png" :width="$mq == 'sm' ? '90pt':'150pt'"  />
    </portal>

    <portal to="footer-logo">
      <q-avatar size="100pt" color="white" @click="$router.push('/')">
          <img src="~assets/v_only.png" width="80px" />
      </q-avatar>
    </portal>
  </div>
</template>
<script>
import Vue from 'vue'
export default {
  name: 'App',
  beforeCreate () {
    console.log('app before create')
  },
  created () {
    console.log('app created')
    if (!this.$session.exists()) {
      this.$session.start()
      this.$session.set('loggedIn', false)
      this.$session.set('locale', this.$i18n.locale)
    } else {
      //  this.$session.set('locale', this.$i18n.locale)
    }
    Vue.prototype.$init = function () {

    }

    Vue.prototype.$tempAuth = function () {
      // this.$session.set('loggedIn', true)
    }

    Vue.prototype.$logoff = function () {
      this.$session.set('loggedIn', false)
    }

    Vue.prototype.$login = function () {
      this.$session.set('loggedIn', true)
    }

    Vue.prototype.$isLoggedIn = function () {
      return this.$session.get('loggedIn')
    }

    Vue.prototype.$isAdminLoggedIn = function () {
      return false
    }

    Vue.prototype.$getPermissions = function () {
      return []
    }
    this.$init()
  },
  data () {
    return {
      appSettings: {
        prod: {
          api: {
            host: '',
            port: 5003,
            sslEnabled: ''
          }
        },
        dev: {
          api: {
            host: '',
            port: 5003,
            sslEnabled: ''
          }
        },
        roles: [
          { id: 0, name: '', enabled: true },
          { id: 1, name: '', enabled: true },
          { id: 2, name: '', enabled: true },
          { id: 3, name: '', enabled: true },
          { id: 4, name: '', enabled: true }
        ]
      }
    }
  }
}
</script>
