<template>
  <q-layout view="lHh Lpr lFf">
    <wt-auth-nav-bar></wt-auth-nav-bar>
    updated
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import WTAuthNavBar from '../components/WTAuthNavBar'
import meta from '../mixins/meta'

export default {
  name: 'MainLayout',
  mixins: [meta],
  updated () {
    const x = 'Valiosa | ڤاليوسا' // await this.$t('site_title')
    this.setTitle(x)
    console.log(this.$route.path)
    if (this.$route.path === '/sitemap' || this.$route.path === '/privacy' ||
     this.$route.path === '/terms' || this.$route.path === '/aboutus' || this.$route.path === '/contactus') {
      this.hasCategories = false
    } else {
      this.hasCategories = true
    }
  },
  created () {
    const x = 'Valiosa | ڤاليوسا' // await this.$t('site_title')
    this.setTitle(x)
    console.log(this.$route.path)
    if (this.$route.path === '/sitemap' || this.$route.path === '/privacy' ||
     this.$route.path === '/terms' || this.$route.path === '/aboutus' || this.$route.path === '/contactus') {
      this.hasCategories = this.$mq !== 'sm'
    } else {
      this.hasCategories = this.$mq !== 'sm'
    }
  },
  components: {
    'wt-auth-nav-bar': WTAuthNavBar
  }
}
</script>
