<template>
  <q-layout view="hHh Lpr fFf">
    <q-dialog v-model="updates" persistent class="">
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar :icon="downloadOrRestart ? 'fal fa-arrow-down':'fal fa-sync-alt'" color="primary" text-color="white" />
          <span class="q-ml-sm font-cairo text-bold text-capitalize text-h5" v-if="downloadOrRestart">{{$t('do_you_want_to_download_updates_now')}}</span>
          <span class="q-ml-sm font-cairo text-bold text-capitalize text-h5" v-else>{{$t('restart_now')}}</span>
        </q-card-section>

        <q-card-actions align="right" v-if="downloadOrRestart" >
          <q-btn flat class="font-cairo bg-white text-primary" :label="$t('later')"  v-close-popup />
          <q-btn flat class="font-cairo bg-primary text-white" @click="doUpdate()" :label="$t('download')"  v-close-popup />
        </q-card-actions>
        <q-card-actions v-else align="right"  >
          <q-btn flat class="font-cairo bg-white text-primary" :label="$t('later')"  v-close-popup />
          <q-btn flat class="font-cairo bg-primary text-white" @click="doUpdate()" :label="$t('restart')"  v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <wt-auth-nav-bar></wt-auth-nav-bar>
      <q-drawer
        v-model="drawer"
        show-if-above
        @mouseover="miniState = false"
        @mouseout="miniState = true"
        :mini="!drawer || miniState"
        @click.capture="drawerClick"

        :breakpoint="500"
        bordered
        content-class="bg-grey-2"
      >
        <q-scroll-area class="fit">
          <q-list padding>
            <q-item :active="$route.path == i.path" clickable v-ripple v-for="(i,x) in links" :key="x" :to="i.path">
              <q-item-section avatar>
                <q-icon :name="$route.path == i.path ? i.icon_active:i.icon" />
              </q-item-section>

              <q-item-section class="text-bold text-capitalize">
                {{i.name}}
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>

        <!--
          in this case, we use a button (can be anything)
          so that user can switch back
          to mini-mode
        -->
        <div v-show="false" v-if="$i18n.locale == 'ar'" class="q-mini-drawer-hide absolute" style="top: 15px; left: -17px">
          <q-btn
            dense
            round
            unelevated
            color="primary"
            icon="chevron_right"
            @click="miniState = true"
          />
        </div>
        <div v-show="false" v-else class="q-mini-drawer-hide absolute" style="top: 15px; right: -17px">
          <q-btn
            dense
            round
            unelevated
            color="primary"
            icon="chevron_left"
            @click="miniState = true"
          />
        </div>
      </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer class="bg-white text-primary">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col text-capitalize text-center">{{$t('copyrights')}}</div>
        <div class="col-md-1"></div>
      </div>
    </q-footer>
  </q-layout>
</template>

<script>
import WTAuthNavBar from '../components/WTAuthNavBar'
import meta from '../mixins/meta'

export default {
  name: 'MainLayout',
  mixins: [meta],
  updated () {
    const x = 'Valiosa | ڤاليوسا' // await this.$t('site_title')
    this.setTitle(x)
    console.log(this.$route.path)
    if (this.$route.path === '/sitemap' || this.$route.path === '/privacy' ||
     this.$route.path === '/terms' || this.$route.path === '/aboutus' || this.$route.path === '/contactus') {
      this.hasCategories = false
    } else {
      this.hasCategories = true
    }
  },
  created () {
    const x = 'Valiosa | ڤاليوسا' // await this.$t('site_title')
    this.setTitle(x)
    console.log(this.$route.path)
    if (this.$route.path === '/sitemap' || this.$route.path === '/privacy' ||
     this.$route.path === '/terms' || this.$route.path === '/aboutus' || this.$route.path === '/contactus') {
      this.hasCategories = false
    } else {
      this.hasCategories = false
    }
  },
  methods: {
    doUpdate () {

    },
    drawerClick (e) {
      // if in "mini" state and user
      // click on drawer, we switch it to "normal" mode
      if (this.miniState) {
        this.miniState = false

        // notice we have registered an event with capture flag;
        // we need to stop further propagation as this click is
        // intended for switching drawer to "normal" mode only
        e.stopPropagation()
      }
    }
  },
  data () {
    const self = this
    return {
      updates: false,
      downloadOrRestart: false,
      links: [
        { name: self.$t('home'), icon: 'fal fa-home', icon_active: 'fas fa-home', path: '/admin' },
        { name: self.$t('user_managment'), icon: 'fal fa-users-cog', icon_active: 'fas fa-users-cog', path: '/admin/users' },
        { name: self.$t('product_managment'), icon: 'fal fa-boxes', icon_active: 'fas fa-boxes', path: '/admin/products' },
        { name: self.$t('order_managment'), icon: 'fal fa-shipping-fast', icon_active: 'fas fa-shipping-fast', path: '/admin/orders' },
        { name: self.$t('payment_managment'), icon: 'fal fa-credit-card', icon_active: 'fas fa-credit-card', path: '/admin/payments' },
        { name: self.$t('content_managment'), icon: 'fal fa-align-right', icon_active: 'fas fa-align-right', path: '/admin/content' },
        { name: self.$t('messages_managment'), icon: 'fal fa-comments', icon_active: 'fas fa-comments', path: '/admin/messages' },
        { name: self.$t('user_manual'), icon: 'fal fa-info', icon_active: 'fas fa-info', path: '/admin/user_manual' }
      ],
      drawerLeft: true,
      drawer: true,
      miniState: true
    }
  },
  components: {
    'wt-auth-nav-bar': WTAuthNavBar
  }
}
</script>
