<template>
  <q-layout :view="$mq === 'sm' ? 'HHH lpr FFF':'hhh lpr fff'">
    <wt-nav-bar :hasCategories="hasCategories" :auth="true">
    </wt-nav-bar>
    <q-page-container class="full-height">
      <router-view />
    </q-page-container>
    <wt-footer>
    </wt-footer>
  </q-layout>
</template>

<script>
import WTNavBar from '../components/WTNavBar'
import WTFooter from '../components/WTFooter'
import meta from '../mixins/meta'

export default {
  name: 'MainLayout',
  mixins: [meta],
  components: {
    'wt-nav-bar': WTNavBar,
    'wt-footer': WTFooter
  },
  updated () {
    const x = 'Valiosa | ڤاليوسا' // await this.$t('site_title')
    this.setTitle(x)
    console.log(this.$route.path)
    if (this.$route.path === '/sitemap' || this.$route.path === '/privacy' ||
     this.$route.path === '/terms' || this.$route.path === '/aboutus' || this.$route.path === '/contactus') {
      this.hasCategories = false
    } else {
      this.hasCategories = this.$mq !== 'sm'
    }
  },
  created () {
    const x = 'Valiosa | ڤاليوسا' // await this.$t('site_title')
    this.setTitle(x)
    console.log(this.$route.path)
    if (this.$route.path === '/sitemap' || this.$route.path === '/privacy' ||
     this.$route.path === '/terms' || this.$route.path === '/aboutus' || this.$route.path === '/contactus') {
      this.hasCategories = false
    } else {
      this.hasCategories = this.$mq !== 'sm'
    }
  },
  data () {
    return {
      hasCategories: this.$mq !== 'sm',
      items: [
        { visible: true, path: '/', text: 'home', icon: 'person', active_icon: 'person' },
        { visible: true, path: '/courses', text: 'pro', icon: 'person', active_icon: 'person' },
        { visible: true, path: '/news', text: 'news', icon: 'person', active_icon: 'person' },
        { visible: true, path: '/mycalender', text: 'curiclulum', icon: 'person', active_icon: 'person' },
        { visible: true, path: '/personalcenter', text: 'personal', icon: 'person', active_icon: 'person' }
      ]
    }
  }
}
</script>
