<template>
  <q-page class="flex flex-center">
    list pages to edit thire content <br>
    privacy policy <br>
    terms of service <br>
    about contenr <br>
  </q-page>
</template>

<script>
import meta from '../../mixins/meta'

export default {
  name: 'ProductManagment',
  mixins: [meta]

}
</script>
