<template>
  <q-page class="flex flex-center">
    valiosa dash <br>
    abstract statistics <br>
    orders <br>
    users <br>
  </q-page>
</template>

<script>
import meta from '../../mixins/meta'

export default {
  name: 'DashHome',
  mixins: [meta]

}
</script>
