<template>
  <q-page class="flex flex-center">
    notifications managment <br>
    messages managment <br>
  </q-page>
</template>

<script>
import meta from '../../mixins/meta'

export default {
  name: 'ProductManagment',
  mixins: [meta]

}
</script>
