<template>
  <q-page class="flex flex-center">
    order managment <br>
    oders list with status <br>
    order processing methods <br>
    order notification <br>
  </q-page>
</template>

<script>
import meta from '../../mixins/meta'

export default {
  name: 'ProductManagment',
  mixins: [meta]

}
</script>
