<template>
  <q-page class="flex flex-center">
     payment managment <br>
     manage payment options <br>
     see payments by users history <br>
     see payments stats <br>
  </q-page>
</template>

<script>

import meta from '../../mixins/meta'

export default {
  name: 'PaymentManagment',
  mixins: [meta]

}
</script>
