<template>
  <q-page class="flex flex-center">
    product managment <br>
    add edit delete <br>
    product stats <br>
  </q-page>
</template>

<script>
import meta from '../../mixins/meta'

export default {
  name: 'ProductManagment',
  mixins: [meta]

}
</script>
