<template>
  <q-page class="flex flex-center">
    user managment <br>
    list of users <br>
    user stats <br>
    updates info <br>
  </q-page>
</template>

<script>
import meta from '../../mixins/meta'

export default {
  name: 'ProductManagment',
  mixins: [meta]

}
</script>
